.role-table {
  display: flex;
  &-list {
    margin-right: 100px;
  }
}

.text-disabled {
  color: rgba(0, 0, 0, 0.36);
}

.add-other-role {
  font-size: 10px;
}

.add-other-role.disabled {
  color: rgba(0, 0, 0, 0.26);
  cursor: none;
}

.delete-role {
  margin-left: 15px;
  cursor: pointer;
  position: absolute;
  bottom: -3px;
  > i.icon {
    vertical-align: inherit;
  }
}

.delete-role.disabled {
  color: rgba(0, 0, 0, .36);
  cursor: default;
}

.member-role-table {
  tr td {
    vertical-align: text-top;
  }
  .memberrole-roles {
    line-height: 2;

    .role-wrapper {
      display: inline-block;
      border-radius: 10px;
      padding: 0 12px;
      margin-right: 8px;
      height: 20px;
      line-height: 20px;
      font-size: 12px;

      &-disabled {
        background: rgba(0, 0, 0, 0.04);
        color: rgba(0, 0, 0, 0.36);
      }

      &-enabled {
        background: rgba(0, 0, 0, .08);
      }
    }
  }

  > .c7n-spin-nested-loading {
    height: 500px;
  }
}

.member-role-btns {
  margin-bottom: 24px;
  .text {
    display: inline-block;
    margin-right: 15px;
  }
  button:nth-child(2) {
    border-radius: 2px 0 0 2px;
  }
  button:nth-child(3) {
    border-radius: 0 2px 2px 0;
  }
  button.active {
    background: rgba(140, 158, 255, 0.2);
  }
}

.role-member-table tr.c7n-table-expanded-row:focus > td,
.role-member-table tr.c7n-table-expanded-row:hover > td {
  background: inherit;
}

.member-role-select .c7n-select-selection-selected-value {
  width: 100%;
}

.c7n-user-upload {
  &-container {
    font-size: 16px;
    white-space: nowrap;

    span {
      color: rgba(0, 0, 0, 0.65);
    }

    .download-failed {
      &-detail,
      &-error {
        margin-left: 10px;
        a {
          text-decoration: none;
        }
        span {
          color: #3f51b5;
        }
      }

      &-error {
        span {
          cursor: default;
          color: #f44336;
        }
      }
    }

    .success-count {
      color: #00bfa5;
    }

    .failed-count {
      color: #f44336;
    }
  }
  &-hidden {
    display: none;
  }
}

.c7n-user-uploading {
  &-container {
    margin: 0 0 32px 2px;
    padding: 24px 0;
    border-radius: 4px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.20), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

    > .loading {
      position: relative;
      margin: 0 auto;
      width: 50px;
      height: inherit;

      &:before {
        content: '';
        display: block;
        padding-top: 100%;
      }
    }

    > .text {
      text-align: center;
      font-size: 20px;
      margin-top: 22px;
    }

    > .tip {
      text-align: center;
      font-size: 14px;
    }
  }
}

.c7n-memberrole-select-dropdown {
  top: 72px !important;
  width: 100px !important;

  li {
    padding-right: 0;
    padding-left: 6px;
  }
}

.c7n-memberrole-select {
  margin: 0 18px 0 10px;
  font-weight: 500;
  color: #3f51b5;
  min-width: 52px;

  .c7n-select-underline {
    display: none;
  }

  .icon-arrow_drop_down {
    color: #3f51b5;
  }

  .c7n-select-selection__rendered {
    padding-right: unset;
    margin-bottom: unset;
  }

  .c7n-select-arrow {
    right: unset;
  }

  .c7n-select-selection-selected-value {
    color: #3f51b5;
  }

  .page-head .c7n-btn:not(.back-btn) {
    line-height: '';
  }

  p {
    margin-bottom: 0;
  }
}

.c7n-iam-memberrole-radiogroup {
  > label:first-child {
    margin-right: 60px;
  }
}

.c7n-iam-memberrole-user-option {
  display: inline-flex;
  vertical-align: middle;
  width: 100%;

  &-avatar {
    width: 18px;
    height: 18px;
    background: rgb(197, 203, 232);
    color: rgb(100, 115, 195);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    text-align: center;
    border-radius: 50%;
    flex-shrink: 0;

    &-noavatar {
      width: 18px;
      height: 18px;
      line-height: 18px;
      text-align: center;
      color: rgb(100, 115, 195);
    }
  }
}
