@import "../../../common/style/mixin/template";

.c7n-iam-user-msg {
  &-tab-container {
    overflow: visible;

    .ant-list-pagination {
      float: right;
      text-align: left;
    }
  }

  &-tab {
    display: flex;
  }

  &-collapse {
    width: 100%;
    .ant-collapse-expand-icon {
      position: absolute;
      right: 16px;
      top: 15px;
      margin-right: 12px;
      &:before {
        content: '\E5CF' !important;
        line-height: 1.2;
      }
    }
    .ant-checkbox {
      color: rgba(0, 0, 0, 0.65);
      &-wrapper + span {
        padding: 0;
      }
    }
    &-panel {
      // display: flex;
      .ant-collapse-content {
        img {
          max-width: 100%;
        }

        @include template;
      }
    }
    .ant-collapse-header {
      line-height: 24px;
      color: #000;
    }
    &-title {
      padding-left: 12px;
      padding-right: 84px;
      > span {
        vertical-align: text-bottom;
        font-size: 14px;
        line-height: 24px;
      }
      > span:nth-child(3):not(.c7n-iam-user-msg-unread) {
        width: 120px;
      }
      > i {
        font-size: 18px;
        line-height: 24px;
        position: absolute;
        right: 264px;
        float: right;
        vertical-align: text-bottom;
      }
    }
  }

  &-list .ant-list-item {
    padding: 0;
    margin-top: 16px;
  }
  &-list {
    //width: calc(100% - 113px);
    .ant-spin-spinning {
      opacity: 1;
      display: inline-block;
      height: 100%;
      max-height: 350px;
      width: 100%;
      z-index: 4;
    }
    .ant-list-item:last-child {
      .ant-card {
        border-bottom: 2px solid #e8e8e8;
      }
      border-bottom: 0;
    }
    .c7n-unread-line {
      .ant-card-head {
        &:before {
          position: absolute;
          left: 0;
          top: 2px;
          bottom: auto;
          right: auto;
          height: 32px;
          width: 2px;
          background-color: #3f51b5;
        }
      }
    }
  }
  &-empty-icon {
    height: 120px;
    width: 120px;
    margin: 80px auto 0;
    background-image: url('./icon/empty.svg');
    background-repeat: no-repeat;
    background-size: auto 120px;
  }
  &-empty-icon-text {
    margin: 0 auto;
    text-align: center;
    color: #747474;
    font-size: 15px;
    padding-top: 20px;
  }
  &-btns {
    margin-right: 25px;
    margin-top: 16px;
    .text {
      display: flex;
      margin-left: 15px;
    }
    button:nth-child(2) {
      display: flex;
      border-radius: 2px 0 0 2px;
      margin-top: 16px;
    }
    button:nth-child(3) {
      display: flex;
      margin-top: 16px;
      border-radius: 0 2px 2px 0;
    }
    button.active {
      background: rgba(140, 158, 255, 0.2);
    }

    &-hidden {
      display: none;
    }
  }

  &-read {
    font-size: 13px;
    color: #000;
    line-height: 20px;
    float: right;
    &-title {
      // color: rgba(0, 0, 0, 0.54);
      line-height: 24px;
    }
  }
  &-unread {
    font-size: 13px;
    color: #000;
    float: right;
    &-title {
      line-height: 24px;
    }
  }

  &-card.active {
    width: 100%;
    margin: 16px 0;
    margin-right: 0;
    // box-shadow: 0 3px 3px rgba(0, 0, 0, 0.12);
    .ant-card-body {
      display: block;
      width: 76vw;
      margin: 0 auto;
    }
    .ant-card-head {
      background: rgba(0, 0, 0, 0.12);
      height: 48px;
      .ant-card-head-title {
        line-height: 24px;
        white-space: normal !important;
        .c7n-iam-user-msg-read-title,
        .c7n-iam-user-msg-read {
          color: #000;
          font-size: 14px;
        }
        font-size: 14px;
        padding: 12px 0;
      }
    }
    span {
       // color: white;
    }
    .ant-checkbox-inner {
      // background-color: #5266d4;
      // border-color: white;
    }
  }

  &-card {
    width: 96%;
    margin: auto;
    background: rgba(255, 255, 255, 0.29);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.20);
    // margin-top: 16px;
    .ant-card-body {
      display: none;
    }
    span:nth-child(3) {
      padding-left: 72px;
    }
    .ant-card-head {
      border-bottom: 0;
      cursor: pointer;
      height: 36px;
      min-height: 30px;
      &-title {
        white-space: normal !important;
        font-size: 13px;
        padding: 9px 0;
        font-weight: normal;
      }
      .ant-checkbox {
        color: rgba(0, 0, 0, 0.56);
      }
      .ant-checkbox-wrapper + span, .ant-checkbox + span {
        line-height: 20px;
        vertical-align: text-bottom;
      }
    }
  }
}

