.policyContainer {
  .foldTitle {
    margin-bottom: 16px;

    span {
      margin-left: 16px;
      font-size: 18px;
      vertical-align: middle;
    }
  }

  .PwdPolicyForm {
    .input-collection {
      > * {
        width: 236px;
        display: inline-block;
      }
      width: 552px;
    }
    .c7n-form-item {
      margin-left: 40px;
    }

    .divider {
      width: 512px;
      height: 1px;
      margin: 42px 0 12px 40px;
      background: rgba(0, 0, 0, 0.12);
    }
  }

  .radioGroup {
    > label:first-child {
      margin-right: 60px;
    }
  }

  .btnGroup {
    margin: 12px 0 14px 40px;

    > button:last-child {
      margin-left: 12px;
    }
  }
}
.PasswordPolicy {
  .page-content-header {
    max-width: 552px;
  }
}
