.c7n-iam-orgstatistics {
  padding: 0 30px;
  height: 100%;
  display: flex;
  justify-content: space-between;

  &-btns {
    display: inline-block !important;
    width: 34%;
    height: 80%;
    padding: 10px 0;
    overflow: hidden;

    button {
      text-align: left;
      margin: 0 !important;
      border-radius: 2px !important;
      width: 100%;
      display: block;

      span {
        display: block;
        width: 90%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-weight: 400 !important;
      }
    }

    button.c7n-btn-flat:hover {
      background: rgba(140, 158, 255, 0.16);
      color: rgb(63, 81, 181) !important;
    }
  }

  &-chart {
    display: inline-block;
    width: 66%;
    height: 80%;
  }

  &-type {
    margin-bottom: 2px;
  }

  &-pro {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.65);
  }

  &-tooltip {
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
    width: 10px;
    height: 10px;
  }
}

.c7n-iam-orgstatistics-wrapper {
  height: 100%;

  .c7n-spin-nested-loading {
    height: 100%;
  }
}
