.page-large {
  display: block;
  width: 100%;
}

.page-small {
  display: inline-block;
  width: 70%;
}

.pagenation-show {
  margin-top: 10px;
  float: right;
}

.col-wrapper {
  margin-right: 10px;
  float: left;
}

.pageFirstLine_title {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 10px;
}

.pageFirstLine_content {
  font-size: 13px;
  line-height: 20px;
  max-width: 512px;
  margin-bottom: 24px;

  span {
    color: #3f51b5;
    cursor: pointer;
  }

  span.firstSpan {
    text-decoration: underline;
  }
}

.add-other-project {
  margin-left: 0;
}

.c7n-iam-application {
  .sidebar-content {
    overflow: visible;
    padding: 0;
  }
  &-tree-table {
    span {
      display: inline-block;
    }
  }
  &-name {
    &-avatar {
      float: left;
      width: 18px;
      height: 18px;
      line-height: 18px;
      background: rgb(197, 203, 232);
      color: rgb(100, 115, 195);
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 5px;
      text-align: center;
      border-radius: 50%;
      flex-shrink: 0;
      text-transform: uppercase;
    }

    &-link {
      cursor: pointer;
    }
  }

  &-inline-formitem {
    display: inline-block;
    margin-right: 16px;
    &-checkbox {
      margin-top: 16px;
    }
    &-button {
      margin-top: 12px;
    }
  }

  &-radiogroup {
    //> label:first-child {
    //  margin-right: 60px;
    //}
  }

  &-sidebar {
    .c7n-modal-body {
      min-height: calc(100% - 450px);
    }
  }

  &-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin-top: 10px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);

    &-wrap {
      position: absolute;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      font-size: 40px;
      line-height: 80px;
      font-weight: 700;
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      color: #3f51b5;
      text-transform: uppercase;
      text-align: center;
    }

    &-button {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      top: 0;
      left: 0;
      cursor: pointer;
      transition: opacity 0.3s;

      .c7n-upload {
        display: block;
        width: 100%;
        height: 100%;
      }

      &-icon {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.26);
        color: #fff;

        .icon {
          font-size: 24px;
          line-height: 80px;
        }
      }

      &-create {
        opacity: 1;
      }

      &-edit {
        opacity: 0;
      }
    }

    &:hover &-button {
      opacity: 1;
    }
  }
}

.c7n-iam-application {
  .c7n-table-tbody > tr > td {
    border-bottom: none !important;
  }
  
  .c7n-table-tbody > .c7n-table-row-level-0 > td {
    border-top: 0.01rem solid #e8e8e8 !important;
  }
  
  .c7n-table-row-level-0 + .c7n-table-row-level-1 {
    td {
      border-top: 0.01rem solid #e8e8e8 !important;
    }
  }
  
  .c7n-table-tbody {
    tr:last-child {
      td {
        border-bottom: 0.01rem solid #e8e8e8 !important;
      }
    }
  }
  
  .c7n-table-row-level-0 {
    .c7n-table-row-expand-icon:before {
      content: '\E5CF';
    }
  }
}

.c7n-iam-application-token-modal {
  .c7n-btn.c7n-btn-flat:first-child {
    display: none;
  }
}