.c7n-iam-dashboard-user-info {
  dl {
    padding: 0 20px;
    overflow: hidden;
  }
  dt,
  dd {
    margin-left: 33px;
    line-height: 20px;
    font-size: 13px;
    font-weight: 400;
  }
  dd {
    color: rgba(0, 0, 0, 0.54);
    margin-bottom: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
