.c7n-task-container-status {
  i {
    padding-right: 6px;
    vertical-align: top;
  }

  .enabled {
    color: #00bfa5;
  }

  .disabled {
    color: #f44336;
  }

  .end {
    color: #ffb100;
  }
}

.c7n-task-detail-sidebar {
  &.ant-modal-sidebar .ant-modal-body {
    height: calc(100% - 121px);
  }

  .c7n-task-detail-row {
    margin-bottom: 12px;

    div:first-child {
      width: 11.5%;
    }

    div:last-child {
      color: rgba(0, 0, 0, 0.65);
    }

    &-hide {
      display: none;
    }

    &-inform-person {
      margin-bottom: 12px;
      color: rgba(0, 0, 0, 0.65);

      &-empty {
        color: rgba(0, 0, 0, 0.65);
      }

      &-informlist-name-container {
        display: inline;
        margin-left: 10px;

        div {
          display: inline;
        }

        div:last-child {
          span:last-child {
            display: none;
          }
        }
      }
    }
  }
}

.c7n-task-deatil-cron-container {
  font-size: 13px;

  > span {
    display: block;
    margin-bottom: 10px;
  }

  li {
    color: rgba(0, 0, 0, 0.65);
    margin-bottom: 12px;

    span:first-child {
      margin-right: 22px;
    }
  }

  &-empty {
    a:link {
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    a:visited {
      text-decoration: none;
    }
  }
}

.c7n-task-detail-popover {
  width: 272px;
  height: 156px;

  &-icon {
    position: absolute;
    left: 491px;
    margin-top: 16px;
    cursor: pointer;
  }
}

.c7n-taskdetail-text {
  display: flex;
}

.c7n-taskdetail-text .c7n-taskdetail-text-icon {
  color: rgba(0, 0, 0, .65);
  display: none;
}

.c7n-taskdetail-text:hover .c7n-taskdetail-text-icon {
  display: block;
}

.ant-input-focus + .c7n-taskdetail-text-icon {
  display: block;
}

.c7n-iam-create-task {
  &-tip-select {
    position: relative;
    .c7n-iam-select-tip {
      right: 291px;
    }
    .ant-select-arrow {
      position: absolute !important;
      right: 20px;
      bottom: 0;
      margin: 0;
      transition: opacity .15s ease;
      cursor: pointer;
    }
  }
  &-container {
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.20);
    padding: 32px;

    .ant-select-dropdown--multiple {
      display: none;
    }
  }

  &-content {
    padding: 36px 38px 30px;

    &-des {
      width: 512px;
      font-size: 13px;
      color: rgba(0, 0, 0, 0.65);
      margin-bottom: 24px;

      a:link {
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
      a:visited {
        text-decoration: none;
      }
    }

    &-inline-formitem {
      display: inline-block;

      &-select {
        margin-top: 13px;
        .ant-select-selection__placeholder {
          color: rgba(0, 0, 0, 0.6);
        }
      }
    }

    div &-inline-formitem {
      margin-right: 18px;
    }

    &-radio-container > label:first-child {
      margin-right: 52px;
    }

    &-btn-group {
      margin-top: 32px;

      button:not(:first-child) {
        margin-left: 12px;
      }
    }

    &-step1-container {
      width: 532px;
      &-simpletask-time-container {
        display: inline-block;
        margin-right: 60px;
      }

      &-popover {
        width: 272px;
        height: 156px;

        &-icon {
          position: absolute;
          left: 589px;
          margin-top: 16px;
          cursor: pointer;
        }
      }
    }

    &-step2-container {
      &-tooltip {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    &-step3-container {
      &-checkbox-group {
        label {
          margin-right: 60px;
        }
      }

      &-specified-container {
        margin-top: 30px;

        &-title {
          margin-right: 26px;
          font-size: 14px;
          font-weight: 500;
          color: #000;
        }

        &-btn {
          .icon {
            margin-right: 0;
          }

          span {
            margin-left: 2px !important;
          }
        }
      }

      &-select {
        .ant-select-underline {
          display: none;
        }
      }
    }

    &-step4-container {
      &-row {
        margin-bottom: 20px;
        font-size: 14px;

        .ant-col-21 {
          color: rgba(0, 0, 0, 0.65);
        }

        &-hide {
          display: none;
        }
      }

      &-informlist {
        margin-top: 20px;
        font-size: 14px;

        &-li-hide {
          display: none;
        }

        ul {
          padding: 0;
          color: rgba(0, 0, 0, 0.65);

          li {
            margin-bottom: 6px;
            vertical-align: middle;
          }
        }

        &-name-container {
          display: inline;
          margin-left: 10px;

          div {
            display: inline;
          }

          div:last-child {
            span:last-child {
              display: none;
            }
          }
        }
      }
    }
  }
}

.c7n-iam-create-task-modal {
  .ant-modal-title {
    margin-bottom: 20px;
  }

  .ant-table-body {
    height: 330px;
    overflow-y: scroll;
  }

  .ant-table-placeholder {
    bottom: 300px;
  }
}

.c7n-iam-create-task-page {
  .ant-tooltip-inner {
    max-width: 530px;
  }
}

