@import "../../common/style/mixin/template";

.c7n-iam-dashboard-announcement {
  &-detail {
    &-content {
      max-width: 800px;
      img {
        max-width: 100%;
      }

      @include template;
    }
  }
  &-empty {
    background-size: 30%;
    background-repeat: no-repeat;
    height: 121px;
    background-position: center;
    background-image: url('./image/empty.svg');
    &-text {
      text-align: center;
      display: block;
      padding-bottom: 25px;
      color: rgba(0, 0, 0, 0.65);
    }
  }

  &-timeline-container {
    background: orangered;
  }

  &-timeline {
    margin-left: 139px;
    margin-top: 20px;
    padding-bottom: 12px;
    li {
      padding: 0;
    }
    .item {
      height: 50px;
    }
    .time {
      left: -94.8px;
      position: absolute;
      p {
        margin: 0;
        text-align: right;
      }
    }
    .title {
      font-size: 15px;
      margin-bottom: 15px;
      margin-left: 15px;
      a {
        color: #000;
        &:hover {
          color: #3f51b5;
        }
      }
    }
    .c7n-timeline-item-last {
      display: none;
    }
    .c7n-timeline-item-tail {
      top: 0;
    }
  }
}
