.c7n-iam-apitest-tree {
  &-content {
    height: 100%;
    width: 300px;
    display: flex;
    padding-left: 16px;
    flex-direction: column;
    border-right: 1px solid rgba(0, 0, 0, 0.36);

    .ant-tree-title-ellipsis {
      max-width: 186px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      cursor: pointer;
    }
  }

  &-top {
    font-size: 13px;
    display: flex;
    align-items: center;

    &-button {
      cursor: pointer;
      width: 26px;
      height: 22px;
      background-color: #3f51b5;
      color: white;
      text-align: center;
      line-height: 18px;
      margin: 0 6px 0 11px;
      border-radius: 3px;
    }

    .ant-input-wrapper {
      margin-bottom: 0;
    }

    .ant-input-rendered-wrapper {
      padding-left: 10px;
    }

    .ant-input-prefix {
      left: 8px;
    }

    .ant-input-underline {
      border-bottom-color: #979797;
    }
  }

  &-main {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;

    .ant-tree > li:first-child {
      padding-top: 18px;
    }

    .ant-tree li .ant-tree-node-content-wrapper {
      width: calc(100% - 22px);
      display: inline-flex;
      align-items: center;
      height: 30px;
      padding: 0 5px 0 0;
      cursor: pointer;
    }

    .ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected {
      background: rgba(0, 0, 0, .04);
    }

    .ant-tree-switcher {
      margin-top: 5px;
    }

    .ant-tree li span.ant-tree-iconEle {
      margin-right: 6px;
      cursor: pointer;

      i.icon {
        line-height: 24px;
      }
    }

    .ant-tree-child-tree {
      li.c7n-iam-apitest-api-wrapper:last-child {
        margin-bottom: 0;
      }
    }

    .c7n-iam-apitest-tree-methodTag {
      text-align: center;
      font-size: 13px;
      color: #fff;
      text-transform: uppercase;
      border-radius: 2px;
      height: 18px;
      display: inline-flex;
      align-items: center;

      > div {
        transform: scale(.8);
      }

      &-get {
        background: #4d90fe;
      }

      &-post {
        background: #00bfa5;
      }

      &-put {
        background: #ffb100;
      }

      &-delete {
        background: #f44336;
      }

      &-options {
        background: #743be7;
      }

      &-patch {
        background: #ff7043;
      }
    }
    .c7n-iam-apitest-api-wrapper-1 {
      cursor: pointer;
      //margin-bottom: 10px;
      white-space: normal;

      .ant-tree-iconEle {
        cursor: pointer !important;
      }

      .ant-tree-title {
        cursor: pointer !important;
        //word-break: break-word;
        //line-height: 16px;
      }
    }

    .c7n-iam-apitest-api-wrapper-2 {
      cursor: pointer;
      margin-bottom: 10px;
      white-space: normal;

      .ant-tree-iconEle {
        cursor: pointer !important;
      }

      .ant-tree-title {
        cursor: pointer !important;
        word-break: break-word;
        line-height: 16px;
      }
    }

    .c7n-iam-apitest-api-wrapper-3 {
      cursor: pointer;
      margin-bottom: 4px;
      white-space: normal;

      .ant-tree-iconEle {
        cursor: pointer !important;
      }

      .ant-tree-title {
        cursor: pointer !important;
        word-break: break-word;
        line-height: 16px;
      }

      .ant-tree-node-content-wrapper {
        padding: 23px 0 !important;
      }
    }

    .c7n-iam-apitest-api-wrapper-4 {
      cursor: pointer;
      margin-bottom: 4px;
      white-space: normal;

      .ant-tree-iconEle {
        cursor: pointer !important;
      }

      .ant-tree-title {
        cursor: pointer !important;
        word-break: break-word;
        line-height: 16px;
      }

      .ant-tree-node-content-wrapper {
        padding: 32px 0 !important;
      }
    }

    .ant-tooltip {
      .ant-tooltip-inner > span {
        font-weight: 500;
      }
    }
    //.c7n-iam-apitest-api-wrapper {
    //  cursor: pointer;
    //  margin-bottom: 10px;
    //  white-space: normal;
    //
    //  //.ant-tree-node-content-wrapper {
    //  //  align-items: flex-start !important;
    //  //}
    //
    //  .ant-tree-iconEle {
    //    cursor: pointer !important;
    //  }
    //
    //  .ant-tree-title {
    //    cursor: pointer !important;
    //    word-break: break-word;
    //    line-height: 16px;
    //  }
    //}
  }
}
