.c7n-iam-guide-site-basic {
  a {
    border-bottom: 1px dashed;
  }
  h2 {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    line-height: 20px;
  }
  p {
    font-size: 13px;
    line-height: 20px;
    margin-top: 14px;
  }
  .ul1 {
    padding-left: 20px;
    list-style-type: disc;
  }
  .c7n-timeline-item {
    position: relative;
    padding: 0 0 0;
    list-style: none;
    margin: 0;
    font-size: 13px;
  }
  .step-dire {
    font-weight: 500;
    list-style-type: circle;
    line-height: 20px;
    padding-left: 20px;
    font-size: 13px;
    margin-top: 14px;
  }
  li {
    margin-top: 14px;
  }
  .tip {
    color: red;
  }
  .icon-open_in_new {
    font-size: 12px;
  }
  .guide-card {
    margin-bottom: 2px;
    box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    background-color: white;
    height: 48px;
    width: 100%;
    display: flex;
    > i {
      margin: auto 0;
      margin-left: 16px;
    }
    > span {
      margin: auto 0;
      margin-left: 5.5px;
    }
  }
  .no-border {
    border-bottom: 0;
  }
  .icon-winner {
    background: url("./image/winner.svg");
    background-position: center;
    background-size: 100%;
    height: 86px;
    width: 86px;
    background-repeat: no-repeat;
    margin-left: 46px;
  }
}
