.c7n-iam-organization {
  &-name-avatar {
    float: left;
    width: 18px;
    height: 18px;
    line-height: 18px;
    background: rgb(197, 203, 232);
    color: rgb(100, 115, 195);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    text-align: center;
    border-radius: 50%;
    flex-shrink: 0;
    text-transform: uppercase;
  }

  &-sidebar {
    &-create {
      &.c7n-modal-sidebar .c7n-modal-body {
        height: calc(100% - 132px);
      }
    }

    .c7n-organization-detail-row {
      margin-bottom: 12px;

      div:last-child:not(.c7n-iam-organization-avatar-wrap) {
        color: rgba(0, 0, 0, 0.65);
      }

      &-hide {
        display: none;
      }
    }
  }

  &-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin-top: 10px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);

    &-wrap {
      position: absolute;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      font-size: 40px;
      line-height: 80px;
      font-weight: 700;
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      color: #3f51b5;
      text-transform: uppercase;
      text-align: center;
    }

    &-button {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      top: 0;
      left: 0;
      cursor: pointer;
      transition: opacity 0.3s;

      .c7n-upload {
        display: block;
        width: 100%;
        height: 100%;
      }

      &-icon {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.26);
        color: #fff;

        .icon {
          font-size: 24px;
          line-height: 80px;
        }
      }

      &-create {
        opacity: 1;
      }

      &-edit {
        opacity: 0;
      }
    }

    &:hover &-button {
      opacity: 1;
    }
  }
}
