@import "../../../common/style/mixin/template";

.c7n-iam-announcement {
  &-detail {
    .send-time {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.65);
      line-height: 20px;
      width: 270px;
    }
    .inline {
      display: inline-block;
    }
    width: 100%;
    &-wrapper {
      background: #f8f8f8;
      border-radius: 4px;
      padding: 20px;
      width: 600px;
      img {
        max-width: 100%;
      }
    }
    &-content {
      width: 100%;

      @include template;
    }
    > div {
      margin-bottom: 14px;
      > span {
        display: inline-block;
        width: 112px;
        margin-right: 70px;
        font-size: 14px;
        color: #000;
        line-height: 20px;
      }
    }
  }
  .nowarp {
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &-siderbar-content {
    .radioGroup {
      > label:first-child {
        margin-right: 60px;
      }
    }

    &-datepicker {
      .ant-calendar-today-btn {
        display: none;
      }
    }

    .content-text {
      //font-size: 14px;
      color: rgba(0, 0, 0, 0.65);
      line-height: 20px;
    }
  }
}
