<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.iam.infra.mapper.ApplicationMapper">
    <resultMap id="ApplicationDO" type="io.choerodon.iam.infra.dataobject.ApplicationDO">
        <id column="id" property="id"></id>
        <result column="is_enabled" property="enabled" jdbcType="BOOLEAN"/>
    </resultMap>

    <select id="fuzzyQuery" resultMap="ApplicationDO">
        SELECT
          ia.*,
          fp.name as project_name,
          fp.code as project_code,
          fp.image_url as image_url
        FROM iam_application ia
        LEFT JOIN fd_project fp ON ia.project_id = fp.id
        WHERE 1=1
        <if test="applicationSearchDTO != null">
            <if test="applicationSearchDTO.name != null">
                AND ia.NAME LIKE concat(concat('%',#{applicationSearchDTO.name}),'%')
            </if>
            <if test="applicationSearchDTO.code != null">
                AND ia.code LIKE concat(concat('%',#{applicationSearchDTO.code}),'%')
            </if>
            <if test="applicationSearchDTO.organizationId != null">
                AND ia.organization_id = #{applicationSearchDTO.organizationId}
            </if>
            <if test="applicationSearchDTO.projectId != null">
                AND ia.projectId = #{applicationSearchDTO.projectId}
            </if>
            <if test="applicationSearchDTO.enabled != null">
                AND ia.is_enabled = #{applicationSearchDTO.enabled}
            </if>
            <if test="applicationSearchDTO.applicationType != null">
                AND ia.application_type = #{applicationSearchDTO.applicationType}
            </if>
            <if test="applicationSearchDTO.applicationCategory != null">
                AND ia.application_category = #{applicationSearchDTO.applicationCategory}
            </if>
            <if test="applicationSearchDTO.projectName != null">
                AND fp.name LIKE concat(concat('%',#{applicationSearchDTO.projectName}),'%')
            </if>
            <if test="applicationSearchDTO.param != null">
                AND (
                ia.NAME LIKE concat(concat('%',#{applicationSearchDTO.param}),'%')
                OR ia.code LIKE concat(concat('%',#{applicationSearchDTO.param}),'%')
                OR ia.application_type = #{applicationSearchDTO.param}
                OR ia.application_category = #{applicationSearchDTO.param}
                )
            </if>
        </if>
    </select>

    <select id="matchId" resultMap="ApplicationDO">
        SELECT *
        FROM iam_application
        WHERE id IN
        <foreach item="item" index="index" collection="idSet"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>


</mapper>
