<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.iam.infra.mapper.ApplicationExplorationMapper">

    <resultMap id="ApplicationExplorationDO" type="io.choerodon.iam.infra.dataobject.ApplicationExplorationDO">
        <id property="id" column="id"/>
        <result property="enabled" column="is_enabled" jdbcType="BOOLEAN"/>
    </resultMap>

    <resultMap id="ApplicationDO" type="io.choerodon.iam.infra.dataobject.ApplicationDO">
        <id property="id" column="id"/>
        <result property="enabled" column="is_enabled" jdbcType="BOOLEAN"/>
    </resultMap>


    <select id="selectDescendantApplications" resultMap="ApplicationDO">
        SELECT j.*, k.app_count FROM iam_application j
        JOIN (
            SELECT ia.id, count(ia.id) AS app_count
            FROM iam_application ia
            JOIN (
                SELECT iae.*
                FROM iam_application_exploration iae
                JOIN (
                    SELECT i.path
                    FROM iam_application_exploration i
                    WHERE i.application_id = #{id}
                ) t ON 1=1
                WHERE iae.path LIKE concat(t.path,'%')
            ) temp
            ON ia.id = temp.APPLICATION_ID
            WHERE ia.APPLICATION_CATEGORY = #{category}
            GROUP BY ia.id
        )k ON j.id = k.id
        WHERE 1=1
        <if test="name != null">
            AND j.name LIKE concat(concat('%',#{name}),'%')
        </if>
        <if test="code != null">
            AND j.code LIKE concat(concat('%',#{code}),'%')
        </if>
    </select>


    <select id="selectDescendantByApplicationIds" resultMap="ApplicationExplorationDO">
        SELECT distinct iae.*
        FROM iam_application_exploration iae
        JOIN (
        SELECT i.path
        FROM iam_application_exploration i
        WHERE i.application_id IN
        <foreach item="item" index="index" collection="idSet"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        ) t ON 1=1
        WHERE iae.path LIKE concat(t.path,'%')
    </select>

    <select id="selectDescendantByApplicationId" resultMap="ApplicationExplorationDO">
        SELECT iae.*
        FROM iam_application_exploration iae
        JOIN (
        SELECT i.path
        FROM iam_application_exploration i
        WHERE i.application_id = #{id}
        ) t ON 1=1
        WHERE iae.path LIKE concat(t.path,'%')
    </select>

    <select id="selectDescendantWithApplication" resultMap="ApplicationExplorationDO">
        SELECT
          iae.*,
          ia.name application_name,
          ia.code application_code,
          ia.application_category application_category,
          ia.application_type application_type
        FROM iam_application_exploration iae
        JOIN (
        SELECT i.path
        FROM iam_application_exploration i
        WHERE i.application_id = #{id}
        ) t ON 1=1
        join iam_application ia on iae.application_id = ia.id
        WHERE iae.path LIKE concat(t.path,'%')
    </select>

    <select id="selectDescendantByApplicationIdsAndParentId" resultMap="ApplicationExplorationDO">
        SELECT distinct iae.*
        FROM iam_application_exploration iae
        JOIN (
        SELECT i.path
        FROM iam_application_exploration i
        WHERE i.application_id IN
        <foreach item="item" index="index" collection="idSet"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        AND i.parent_id = #{parentId}
        ) t ON 1=1
        WHERE iae.path LIKE concat(t.path,'%')
    </select>

    <select id="selectDescendantByApplicationIdAndParentId" resultMap="ApplicationExplorationDO">
        SELECT distinct iae.*
        FROM iam_application_exploration iae
        JOIN (
        SELECT i.path
        FROM iam_application_exploration i
        WHERE i.application_id = #{id}
        AND i.parent_id = #{parentId}
        ) t ON 1=1
        WHERE iae.path LIKE concat(t.path,'%')
    </select>

    <select id="selectAncestorByApplicationId" resultMap="ApplicationExplorationDO">
        SELECT i.*
        FROM iam_application_exploration i
        JOIN (
        SELECT path FROM iam_application_exploration j WHERE j.application_id = #{id}
        ) t ON 1=1
        WHERE t.path LIKE concat(i.path, '%');
    </select>

    <select id="selectDirectDescendantByApplicationId" resultMap="ApplicationExplorationDO">
        select * from iam_application_exploration
        where parent_id = #{id}
    </select>


    <delete id="deleteDescendantByApplicationId" parameterType="Long">
        DELETE iae FROM iam_application_exploration iae
        JOIN
        (
        SELECT path FROM iam_application_exploration WHERE application_id = #{id}
        ) t ON 1=1
        WHERE iae.path LIKE concat(t.path,'%')
    </delete>
    <delete id="deleteDescendantByApplicationIds">
        DELETE iae FROM iam_application_exploration iae
        JOIN
        (
        SELECT path FROM iam_application_exploration WHERE application_id IN
        <foreach item="item" index="index" collection="idSet"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        ) t ON 1=1
        WHERE iae.path LIKE concat(t.path,'%')
    </delete>

    <delete id="deleteDescendantByApplicationIdsAndParentId">
        DELETE iae FROM iam_application_exploration iae
        JOIN
        (
        SELECT path FROM iam_application_exploration WHERE application_id IN
        <foreach item="item" index="index" collection="idSet"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        AND parent_id = #{parentId}
        ) t ON 1=1
        WHERE iae.path LIKE concat(t.path,'%')
    </delete>

</mapper>
