<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.iam.infra.mapper.ClientMapper">
    <select id="fulltextSearch" resultType="io.choerodon.iam.infra.dataobject.ClientDO">
        SELECT * FROM oauth_client
        WHERE 1=1
        <if test="clientDO.organizationId != null">
            AND organization_id = #{clientDO.organizationId}
        </if>
        <if test="clientDO.name != null">
            AND name LIKE concat(concat('%',#{clientDO.name}),'%')
        </if>
        <if test="param != null">
            AND
            name LIKE concat(concat('%',#{param}),'%')
        </if>
    </select>

    <select id="selectClientCountFromMemberRoleByOptions" resultType="int"
            parameterType="io.choerodon.iam.api.dto.ClientRoleSearchDTO">
        SELECT COUNT(1) FROM (
        SELECT DISTINCT client.id FROM iam_member_role imr
        INNER JOIN oauth_client client ON imr.member_id = client.id
        WHERE imr.role_id = #{roleId}
        AND imr.member_type = 'client'
        <if test="sourceId != null">
            AND imr.source_id = #{sourceId}
        </if>
        <if test="sourceType != null">
            AND imr.source_type = #{sourceType}
        </if>
        <if test="clientRoleSearchDTO != null">
            <if test="clientRoleSearchDTO.clientName != null">
                AND client.NAME LIKE concat(concat('%',#{roleAssignmentSearchDTO.clientName}),'%')
            </if>
        </if>
        <if test="param != null">
            AND ( client.NAME LIKE concat(concat('%',#{param}),'%')
            OR client.ADDITIONAL_INFORMATION LIKE concat(concat('%',#{param}),'%')
            OR client.AUTHORIZED_GRANT_TYPES LIKE concat(concat('%',#{param}),'%')
            )
        </if>
        ) t
    </select>

    <select id="selectClientsByRoleIdAndOptions" resultType="io.choerodon.iam.infra.dataobject.ClientDO">
        SELECT DISTINCT client.* FROM iam_member_role imr
        INNER JOIN oauth_client client ON imr.member_id = client.id
        WHERE imr.role_id = #{roleId}
        AND imr.member_type = 'client'
        <if test="sourceId != null">
            AND imr.source_id = #{sourceId}
        </if>
        <if test="sourceType != null">
            AND imr.source_type = #{sourceType}
        </if>
        <if test="clientRoleSearchDTO != null">
            <if test="clientRoleSearchDTO.clientName != null">
                AND client.NAME LIKE concat(concat('%',#{roleAssignmentSearchDTO.clientName}),'%')
            </if>
        </if>
        <if test="param != null">
            AND ( client.NAME LIKE concat(concat('%',#{param}),'%')
            OR client.ADDITIONAL_INFORMATION LIKE concat(concat('%',#{param}),'%')
            OR client.AUTHORIZED_GRANT_TYPES LIKE concat(concat('%',#{param}),'%')
            )
        </if>
    </select>
</mapper>
