<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.iam.infra.mapper.DashboardMapper">

    <resultMap id="Dashboard" type="io.choerodon.iam.infra.dto.DashboardDTO" autoMapping="true">
        <id column="ID" property="id"></id>
        <result column="FD_LEVEL" property="level" jdbcType="VARCHAR"/>
        <result column="IS_ENABLED" property="enabled" jdbcType="BOOLEAN"/>
        <collection property="roleCodes" ofType="java.lang.String" select="selectRoleCodes"
                    column="{dashboardCode=code, fdLevel=fd_level}"></collection>
    </resultMap>

    <select id="fulltextSearch" resultMap="Dashboard">
        SELECT d.* FROM IAM_DASHBOARD d
        WHERE 1=1
        <if test="dashboard.name != null">
            AND NAME LIKE concat(concat('%',#{dashboard.name}),'%')
        </if>
        <if test="dashboard.code != null">
            AND CODE LIKE concat(concat('%',#{dashboard.code}),'%')
        </if>
        <if test="dashboard.level != null">
            AND FD_LEVEL = #{dashboard.level}
        </if>
        <if test="dashboard.enabled != null">
            AND IS_ENABLED = #{dashboard.enabled}
        </if>
        <if test="dashboard.needRoles != null">
            AND NEED_ROLES = #{dashboard.needRoles}
        </if>
        <if test="dashboard.namespace != null">
            AND NAMESPACE = #{dashboard.namespace}
        </if>
        <if test="param != null">
            AND
            NAME LIKE concat(concat('%',#{param}),'%') OR
            CODE LIKE concat(concat('%',#{param}),'%') OR
            NAMESPACE LIKE concat(concat('%',#{param}),'%') OR
            FD_LEVEL = #{param}
        </if>
    </select>

    <select id="selectByLevel" resultMap="Dashboard">
        SELECT * FROM IAM_DASHBOARD d
        WHERE d.FD_LEVEL IN ('site', #{level})
    </select>

    <select id="selectRoleCodes" resultType="java.lang.String">
        SELECT
			dr.role_code
		FROM
			iam_dashboard_role dr
			LEFT JOIN iam_role r ON dr.role_code = r.code
		WHERE
			dr.dashboard_code = #{dashboardCode} AND
			r.resource_level = #{fdLevel}
    </select>
</mapper>
