<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.iam.infra.mapper.DashboardRoleMapper">

    <resultMap id="DashboardRole" type="io.choerodon.iam.infra.dto.DashboardRoleDTO" autoMapping="true">
        <id column="ID" property="id"></id>
        <result column="FD_LEVEL" property="level" jdbcType="VARCHAR"/>
        <result column="IS_ENABLED" property="enabled" jdbcType="BOOLEAN"/>
    </resultMap>

    <select id="selectRoleCodes" resultType="java.lang.String">
      SELECT
      	ROLE_CODE
      FROM
      	IAM_DASHBOARD_ROLE dr
      WHERE
      	dr.DASHBOARD_CODE = #{dashboardCode}
    </select>

    <delete id="deleteByDashboardCode">
        DELETE FROM IAM_DASHBOARD_ROLE WHERE DASHBOARD_CODE = #{dashboardCode}
    </delete>

    <select id="selectDashboardByUserId" resultType="java.lang.Long">
      select d.id
      from iam_dashboard d
      join
      (
          select idr.dashboard_code
          from iam_dashboard_role idr
          join
          (
              select ir.code from  iam_role ir
              join
              (
                 select distinct imr.role_id as id from  iam_member_role imr
                 where imr.member_type = 'user'
                 and imr.member_id = #{userId}
                 and imr.source_id = #{sourceId}
                 and imr.source_type = #{level}
             ) t1 on (ir.id = t1.id and ir.is_enabled = 1)
          ) t2 on t2.code = idr.role_code
      ) t3 on d.code = t3.dashboard_code
    </select>
</mapper>
