<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.iam.infra.mapper.DashboardRoleMapper">

    <resultMap id="DashboardRole" type="io.choerodon.iam.infra.dto.DashboardRoleDTO" autoMapping="true">
        <id column="ID" property="id"></id>
        <result column="FD_LEVEL" property="level" jdbcType="VARCHAR"/>
        <result column="IS_ENABLED" property="enabled" jdbcType="BOOLEAN"/>
    </resultMap>

    <!--<insert id="insertWithRoleId">-->
      <!--INSERT INTO IAM_DASHBOARD_ROLE ( DASHBOARD_ID, ROLE_ID ) SELECT-->
      <!--#{dashboardId},-->
      <!--ID role_id-->
      <!--FROM-->
      	<!--IAM_ROLE r-->
      <!--WHERE-->
      	<!--r.FD_LEVEL = #{level} AND r.ID=#{roleId};-->
      <!--</insert>-->

    <select id="selectRoleCodes" resultType="java.lang.String">
      SELECT
      	ROLE_CODE
      FROM
      	IAM_DASHBOARD_ROLE dr
      WHERE
      	dr.DASHBOARD_CODE = #{dashboardCode}
    </select>

    <delete id="deleteByDashboardCode">
        DELETE FROM IAM_DASHBOARD_ROLE WHERE DASHBOARD_CODE = #{dashboardCode}
    </delete>

    <select id="selectDashboardByUserId" resultType="java.lang.String">
        SELECT
        d.DASHBOARD_ID
        FROM
        IAM_DASHBOARD_ROLE dr
        LEFT JOIN IAM_ROLE r ON dr.ROLE_CODE = dr.ROLE_CODE
        LEFT JOIN IAM_MEMBER_ROLE mr ON mr.ROLE_ID = r.ID
        LEFT JOIN IAM_DASHBOARD d ON d.CODE = dr.DASHBOARD_CODE
        WHERE
        mr.MEMBER_TYPE = 'user'
        AND mr.MEMBER_ID = #{userId}
        AND mr.SOURCE_ID = #{sourceId}
        AND mr.SOURCE_TYPE = #{level}
        AND r.IS_ENABLED = true
    </select>
</mapper>
