<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.iam.infra.mapper.DashboardRoleMapper">

    <resultMap id="DashboardRole" type="io.choerodon.iam.api.dto.DashboardRoleDTO">
        <id column="ID" property="id"></id>
        <result column="FD_LEVEL" property="level" jdbcType="VARCHAR"/>
        <result column="IS_ENABLED" property="enabled" jdbcType="BOOLEAN"/>
    </resultMap>

    <!--<insert id="insertWithRoleId">-->
      <!--INSERT INTO IAM_DASHBOARD_ROLE ( DASHBOARD_ID, ROLE_ID ) SELECT-->
      <!--#{dashboardId},-->
      <!--ID role_id-->
      <!--FROM-->
      	<!--IAM_ROLE r-->
      <!--WHERE-->
      	<!--r.FD_LEVEL = #{level} AND r.ID=#{roleId};-->
      <!--</insert>-->

    <select id="selectRoleIds" resultType="java.lang.Long">
      SELECT
      	ROLE_ID
      FROM
      	IAM_DASHBOARD_ROLE dr
      WHERE
      	dr.DASHBOARD_ID = #{dashboardId}
    </select>

    <delete id="deleteByDashboardId">
        DELETE FROM IAM_DASHBOARD_ROLE WHERE DASHBOARD_ID = #{dashboardId}
    </delete>

    <select id="selectDashboardByUserId" resultType="java.lang.Long">
        SELECT
        dr.DASHBOARD_ID
        FROM
        IAM_DASHBOARD_ROLE dr
        LEFT JOIN IAM_MEMBER_ROLE mr ON mr.ROLE_ID = dr.ROLE_ID
        WHERE
        mr.MEMBER_TYPE = 'user'
        AND mr.MEMBER_ID = #{userId}
        AND mr.SOURCE_ID = #{sourceId}
        AND mr.SOURCE_TYPE = #{level}
    </select>
</mapper>
