<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.iam.infra.mapper.DashboardMapper">

    <resultMap id="Dashboard" type="io.choerodon.iam.domain.iam.entity.DashboardE">
        <id column="ID" property="id"></id>
        <result column="FD_LEVEL" property="level" jdbcType="VARCHAR"/>
        <result column="IS_ENABLED" property="enabled" jdbcType="BOOLEAN" />
    </resultMap>

    <select id="fulltextSearch" resultMap="Dashboard">
        SELECT * FROM IAM_DASHBOARD
        WHERE 1=1
        <if test="dashboard.name != null">
            AND NAME LIKE concat(concat('%',#{dashboard.name}),'%')
        </if>
        <if test="dashboard.code != null">
            AND CODE LIKE concat(concat('%',#{dashboard.code}),'%')
        </if>
        <if test="dashboard.level != null">
            AND FD_LEVEL = #{dashboard.level}
        </if>
        <if test="param != null">
            AND
            NAME LIKE concat(concat('%',#{param}),'%') OR
            CODE LIKE concat(concat('%',#{param}),'%') OR
            FD_LEVEL = #{param}
        </if>
    </select>

    <select id="selectByLevel" resultMap="Dashboard">
        SELECT * FROM IAM_DASHBOARD d
        WHERE d.FD_LEVEL IN ('site', #{level})
    </select>
</mapper>
