<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.iam.infra.mapper.LabelMapper">

    <resultMap id="labelDO" type="io.choerodon.iam.infra.dataobject.LabelDO">
        <id property="id" column="id"/>
        <result property="level" column="FD_LEVEL"/>
    </resultMap>

    <select id="selectByRoleId" resultMap="labelDO">
        SELECT iam_label.*
        FROM iam_role_label
        LEFT JOIN iam_label
        ON iam_role_label.label_id = iam_label.id
        AND iam_label.type = 'role'
        WHERE iam_role_label.role_id = #{roleId}
    </select>

    <select id="listByOption" resultMap="labelDO">
        SELECT * FROM iam_label l
        WHERE 1=1
        <if test="label.type != null">
            AND l.type LIKE concat(concat('%',#{label.type}), '%')
        </if>
        <if test="label.name != null">
            AND l.name LIKE concat(concat('%',#{label.name}), '%')
        </if>
        <if test="label.level != null">
            AND l.FD_LEVEL LIKE concat(concat('%',#{label.level}), '%')
        </if>
        <if test="label.description != null">
            AND l.description LIKE concat(concat('%',#{label.description}), '%')
        </if>
    </select>

    <select id="selectByUserId" resultMap="labelDO">
        SELECT DISTINCT il.*
        FROM iam_user iu
        JOIN iam_member_role imr
        ON iu.id = imr.member_id
        JOIN iam_role_label irl
        ON imr.role_id = irl.role_id
        JOIN iam_label il
        ON irl.label_id = il.id
        WHERE imr.member_type = 'user'
        AND iu.id = #{id}
    </select>

    <select id="selectLabelNamesInRoleIds" resultType="java.lang.String">
        SELECT DISTINCT iam_label.name
        FROM iam_label
        INNER JOIN iam_role_label ON iam_role_label.label_id = iam_label.id
        WHERE iam_role_label.role_id IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>
