<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.iam.infra.mapper.LabelMapper">
    <select id="selectByRoleId" resultType="io.choerodon.iam.infra.dataobject.LabelDO">
        SELECT iam_label.*
        FROM iam_role_label
        LEFT JOIN iam_label
        ON iam_role_label.label_id = iam_label.id
        AND iam_label.type = 'role'
        WHERE iam_role_label.role_id = #{roleId}
    </select>

    <select id="selectByUserId" resultType="io.choerodon.iam.infra.dataobject.LabelDO">
        SELECT DISTINCT il.*
        FROM iam_user iu
        JOIN iam_member_role imr
        ON iu.id = imr.member_id
        JOIN iam_role_label irl
        ON imr.role_id = irl.role_id
        JOIN iam_label il
        ON irl.label_id = il.id
        WHERE imr.member_type = 'user'
        AND iu.id = #{id}
    </select>


    <select id="selectLabelNamesInRoleIds" resultType="java.lang.String">
        SELECT DISTINCT iam_label.name
        FROM iam_label
        INNER JOIN iam_role_label ON iam_role_label.label_id = iam_label.id
        WHERE iam_role_label.role_id IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>
