<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.iam.infra.mapper.LdapHistoryMapper">
    <select id="queryLatestHistory" resultType="io.choerodon.iam.infra.dataobject.LdapHistoryDO">
        SELECT *
        FROM oauth_ldap_history
        WHERE ldap_id = #{id}
        ORDER BY id DESC limit 1
    </select>
</mapper>
