<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.iam.infra.mapper.LdapErrorUserMapper">
    <select id="fuzzyQuery" resultType="io.choerodon.iam.infra.dataobject.LdapErrorUserDO">
        select * from oauth_ldap_error_user
        where ldap_history_id = #{ldapHistoryId}
        <if test="ldapErrorUserDTO.uuid != null">
            AND uuid LIKE concat(concat('%',#{ldapErrorUserDTO.uuid}),'%')
        </if>
        <if test="ldapErrorUserDTO.loginName != null">
            AND login_name LIKE concat(concat('%',#{ldapErrorUserDTO.loginName}),'%')
        </if>
        <if test="ldapErrorUserDTO.email != null">
            AND email LIKE concat(concat('%',#{ldapErrorUserDTO.email}),'%')
        </if>
        <if test="ldapErrorUserDTO.realName != null">
            AND real_name LIKE concat(concat('%',#{ldapErrorUserDTO.realName}),'%')
        </if>
        <if test="ldapErrorUserDTO.phone != null">
            AND phone LIKE concat(concat('%',#{ldapErrorUserDTO.phone}),'%')
        </if>
    </select>
</mapper>
