<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.iam.infra.mapper.MemberRoleMapper">

    <select id="selectDeleteList" resultType="java.lang.Long">
        SELECT id FROM iam_member_role
        WHERE member_id = #{mi}
        AND member_type = 'user'
        AND source_id = #{si}
        AND source_type = #{st}
        AND role_id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="selectCountBySourceId" resultType="java.lang.Integer">
        SELECT COUNT(DISTINCT source_id)
        FROM iam_member_role
        WHERE iam_member_role.member_id = #{id}
        AND iam_member_role.source_type = #{type}
    </select>

</mapper>
