<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.iam.infra.mapper.MenuMapper">
    <resultMap id="menusWithPermissions" type="io.choerodon.iam.infra.dataobject.MenuDO">
        <id column="id" property="id"></id>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="fd_level" property="level" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="DECIMAL"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="sort" property="sort" jdbcType="BIGINT"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="is_default" property="isDefault" jdbcType="BOOLEAN"/>
        <result column="route" property="route" jdbcType="VARCHAR"/>
        <result column="category" property="category" jdbcType="VARCHAR"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="BIGINT"/>
        <collection property="permissions" ofType="io.choerodon.iam.infra.dataobject.PermissionDO">
            <id column="permission_id" property="id"></id>
            <result column="permission_code" property="code" jdbcType="VARCHAR"/>
            <result column="path" property="path" jdbcType="VARCHAR"/>
            <result column="method" property="method" jdbcType="VARCHAR"/>
            <result column="permission_level" property="level" jdbcType="VARCHAR"/>
            <result column="action" property="action" jdbcType="VARCHAR"/>
            <result column="fd_resource" property="resource" jdbcType="VARCHAR"/>
            <result column="public_access" property="publicAccess" jdbcType="BOOLEAN"/>
            <result column="login_access" property="loginAccess" jdbcType="BOOLEAN"/>
            <result column="service_name" property="serviceName" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <resultMap id="MenuDO" type="io.choerodon.iam.infra.dataobject.MenuDO">
        <id column="id" property="id"></id>
        <result column="fd_level" property="level" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryMenusWithPermissions" resultMap="menusWithPermissions">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        SELECT
        im.*,
        ip.id permission_id,
        ip.code permission_code,
        ip.path,
        ip.method,
        ip.fd_level permission_level,
        ip.action,
        ip.fd_resource,
        ip.public_access,
        ip.login_access,
        ip.service_name
        FROM iam_menu im
        LEFT JOIN iam_menu_permission imp on im.id = imp.menu_id
        LEFT JOIN iam_permission ip on imp.permission_code = ip.code
        WHERE 1=1
        <if test="level != null">
            AND im.fd_level = #{level}
        </if>
        <if test="type != null">
            AND im.type = #{type}
        </if>
    </select>

    <select id="queryMenusWithPermissionByTestPermission" resultMap="menusWithPermissions">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        SELECT DISTINCT im.*
        FROM iam_menu im
        LEFT JOIN iam_menu_permission imp
        ON im.id = imp.menu_id
        WHERE imp.permission_code
        IN
            (
                SELECT p.code
                FROM iam_role_permission rp
                LEFT JOIN iam_permission p
                ON p.id = rp.permission_id
                LEFT JOIN iam_role r
                ON r.id = rp.role_id
                WHERE
                (
                    p.login_access = 1
                    OR p.public_access = 1
                    OR
                    (
                        r.is_enabled = 1
                        AND rp.role_id
                        IN
                        (
                            SELECT DISTINCT mr.role_id
                            FROM iam_member_role mr
                            WHERE mr.member_type = #{memberType}
                            AND mr.member_id = #{memberId}
                            <if test="sourceType != null">
                                AND mr.source_type = #{sourceType}
                                AND mr.source_id = #{sourceId}
                            </if>
                            <if test="
                                    sourceId != null">
                                AND mr.source_id = #{sourceId}
                            </if>
                        )
                    )
                )
            )
            <if test="level != null">
                AND im.fd_level = #{level}
            </if>
            <choose>
              <when test="category != null and category == 'PROGRAM' ">
                AND im.CATEGORY == 'PROGRAM'
              </when>
              <otherwise>
                AND im.CATEGORY !='PROGRAM'
              </otherwise>
            </choose>
            UNION
            SELECT DISTINCT * FROM iam_menu
            WHERE
            <if test="level != null">
                fd_level = #{level} AND
            </if>
            (type = 'root' OR type = 'dir')
    </select>

    <delete id="deleteMenusById">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        delete FROM iam_menu
        where 1!=1
        <if test="menuIds != null and !menuIds.isEmpty()">
            or id in
            <foreach item="item" index="index" collection="menuIds"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </delete>
</mapper>
