<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.iam.infra.mapper.OrganizationMapper">
    <resultMap id="organizationWithProjects" type="io.choerodon.iam.infra.dto.OrganizationDTO" autoMapping="true">
        <id column="id" property="id"></id>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="is_enabled" property="enabled" jdbcType="BOOLEAN"/>
        <collection property="projects" ofType="io.choerodon.iam.infra.dto.ProjectDTO" autoMapping="true">
            <id column="project_id" property="id"></id>
            <result column="project_name" property="name" jdbcType="VARCHAR"/>
            <result column="project_code" property="code" jdbcType="VARCHAR"/>
            <result column="organization_id" property="organizationId" jdbcType="DECIMAL"/>
            <result column="project_is_enabled" property="enabled" jdbcType="BOOLEAN"/>
        </collection>
    </resultMap>

    <resultMap id="OrganizationDTO" type="io.choerodon.iam.infra.dto.OrganizationDTO" autoMapping="true">
        <id column="id" property="id"></id>
        <result column="is_enabled" property="enabled" jdbcType="BOOLEAN"/>
    </resultMap>

    <resultMap id="OrganizationWithRoleDTO" type="io.choerodon.iam.infra.dto.OrganizationDTO" autoMapping="true">
        <id property="id" column="id"></id>
        <result property="name" column="name"/>
        <result property="code" column="code"/>
        <result property="enabled" column="is_enabled"/>
        <collection property="roles" ofType="io.choerodon.iam.infra.dto.RoleDTO" autoMapping="true">
            <id property="id" column="role_id"/>
            <result property="name" column="role_name"/>
            <result property="code" column="role_code"/>
            <result property="enabled" column="role_is_enabled"/>
        </collection>
    </resultMap>

    <select id="fulltextSearch" resultMap="OrganizationDTO">
        SELECT
        org.*,
        CASE
        WHEN
        t.project_count IS NULL
        THEN 0
        ELSE t.project_count
        END
        AS project_count
        FROM fd_organization org
        LEFT JOIN
        (
        SELECT
        p.organization_id AS org_id,
        COUNT(p.id) AS project_count
        FROM fd_organization o
        JOIN fd_project p
        ON o.id = p.organization_id
        GROUP BY p.organization_id
        ) t
        ON org.id = t.org_id
        WHERE 1=1
        <if test="organization.name != null">
            AND org.name LIKE concat(concat('%',#{organization.name}),'%')
        </if>
        <if test="organization.code != null">
            AND org.code LIKE concat(concat('%',#{organization.code}),'%')
        </if>
        <if test="organization.enabled != null">
            AND org.is_enabled = #{organization.enabled}
        </if>
        <if test="param != null">
            AND(
            org.name LIKE concat(concat('%',#{param}),'%') OR
            org.code LIKE concat(concat('%',#{param}),'%')
            )
        </if>
    </select>

    <select id="selectFromMemberRoleByMemberId" resultMap="OrganizationDTO">
        SELECT
        DISTINCT fd_organization.*
        FROM
        fd_organization
        INNER JOIN iam_member_role
        ON fd_organization.id = iam_member_role.source_id
        AND iam_member_role.source_type = 'organization'
        INNER JOIN iam_role
        ON iam_role.is_enabled = 1 and iam_role.id = iam_member_role.role_id
        WHERE iam_member_role.member_id = #{memberId}
        <if test="!includedDisabled">
            AND fd_organization.is_enabled = 1
        </if>
    </select>

    <select id="selectOrgByUserAndPros" resultMap="OrganizationDTO">
        SELECT DISTINCT fd_organization.*
        FROM fd_organization
        WHERE id
        IN
        (
        SELECT DISTINCT fp.organization_id
        FROM fd_project fp
        INNER JOIN iam_member_role imr
        ON imr.source_id=fp.id
        INNER JOIN iam_role
        ON iam_role.is_enabled = 1 and iam_role.id = imr.role_id
        AND imr.source_type='project'
        WHERE imr.member_id=#{memberId}
        )
        <if test="!includedDisabled">
            AND fd_organization.is_enabled = 1
        </if>
    </select>

    <select id="selectAllWithEnabledProjects" resultMap="organizationWithProjects">
        SELECT
            fd_organization.id,
            fd_organization.code,
            fd_organization.name,
            fd_organization.is_enabled,
            fd_project.id AS project_id,
            fd_project.name AS project_name,
            fd_project.code AS project_code,
            fd_project.organization_id,
            fd_project.is_enabled AS project_is_enabled
        FROM
          fd_organization
        LEFT JOIN
          fd_project
        ON
          fd_organization.id = fd_project.organization_id
        WHERE
          fd_project.is_enabled = 1
    </select>

    <!-- 根据databaseId找指定的sql，既不是mysql也不是oracle走这条sql，默认是使用mysql的sql -->
    <select id="selectOrganizationsWithRoles" resultMap="OrganizationWithRoleDTO">
        SELECT
        o.id,
        o.name,
        o.code,
        o.is_enabled,
        ir.id AS role_id,
        ir.name AS role_name,
        ir.code AS role_code,
        ir.is_enabled AS role_is_enabled
        FROM fd_organization o
        INNER JOIN
        (
        SELECT DISTINCT source_id FROM iam_member_role
        WHERE member_id = #{id}
        AND member_type = 'user'
        AND source_type = 'organization'
        ORDER BY source_id ASC
        LIMIT #{start}, #{size}
        ) t
        ON o.id = t.source_id
        INNER JOIN iam_member_role imr ON imr.source_id = o.id
        LEFT JOIN iam_role ir ON imr.role_id = ir.id
        WHERE imr.source_type = 'organization'
        AND imr.member_type = 'user'
        AND imr.member_id = #{id}
        <if test="params != null">
            AND (
            o.name LIKE concat(concat('%', #{params}), '%') OR
            o.code LIKE concat(concat('%', #{params}), '%')
            )
        </if>
    </select>

    <select id="selectOrganizationsWithRoles" databaseId="mysql" resultMap="OrganizationWithRoleDTO">
        SELECT
        o.id,
        o.name,
        o.code,
        o.is_enabled,
        ir.id AS role_id,
        ir.name AS role_name,
        ir.code AS role_code,
        ir.is_enabled AS role_is_enabled
        FROM fd_organization o
        INNER JOIN
        (
        SELECT DISTINCT source_id FROM iam_member_role
        WHERE member_id = #{id}
        AND member_type = 'user'
        AND source_type = 'organization'
        ORDER BY source_id ASC
        LIMIT #{start}, #{size}
        ) t
        ON o.id = t.source_id
        INNER JOIN iam_member_role imr ON imr.source_id = o.id
        LEFT JOIN iam_role ir ON imr.role_id = ir.id
        WHERE imr.source_type = 'organization'
        AND imr.member_type = 'user'
        AND imr.member_id = #{id}
        <if test="params != null">
            AND (
            o.name LIKE concat(concat('%', #{params}), '%') OR
            o.code LIKE concat(concat('%', #{params}), '%')
            )
        </if>
    </select>

    <select id="selectOrganizationsWithRoles" databaseId="oracle" resultMap="OrganizationWithRoleDTO">
        SELECT
        o.id,
        o.name,
        o.code,
        o.is_enabled,
        ir.id AS role_id,
        ir.name AS role_name,
        ir.code AS role_code,
        ir.is_enabled AS role_is_enabled
        FROM fd_organization o
        INNER JOIN
        (
        <![CDATA[
            SELECT *
            FROM
            (
                SELECT TMP_PAGE.*, ROWNUM ROW_ID
                FROM
                (
                    SELECT DISTINCT source_id
                    FROM iam_member_role
                    WHERE member_id = #{id}
                    AND member_type = 'user'
                    AND source_type = 'organization'
                    ORDER BY source_id ASC
                ) TMP_PAGE
                WHERE ROWNUM <= ((#{start} + 1) * #{size})
            )
            WHERE ROW_ID > (#{start} * #{size})
        ]]>
        ) t
        ON o.id = t.source_id
        INNER JOIN iam_member_role imr ON imr.source_id = o.id
        LEFT JOIN iam_role ir ON imr.role_id = ir.id
        WHERE imr.source_type = 'organization'
        AND imr.member_type = 'user'
        AND imr.member_id = #{id}
        <if test="params != null">
            AND (
            o.name LIKE concat(concat('%', #{params}), '%') OR
            o.code LIKE concat(concat('%', #{params}), '%')
            )
        </if>
    </select>

    <select id="selectOrganizationsByUserId" resultMap="OrganizationDTO">
        SELECT DISTINCT fp.*
        FROM iam_member_role imr
        JOIN fd_organization fp
        on fp.id=imr.source_id
        WHERE imr.source_type = 'organization'
        AND imr.member_type = 'user'
        <if test="userId != null">
            AND imr.member_id = #{userId}
        </if>
        <if test="organizationDTO != null">
            <if test="organizationDTO.id != null">
                AND fp.id = #{organizationDTO.id}
            </if>
            <if test="organizationDTO.code != null">
                AND fp.code LIKE concat(concat('%', #{organizationDTO.code}), '%')
            </if>
            <if test="organizationDTO.name != null">
                AND fp.name LIKE concat(concat('%', #{organizationDTO.name}), '%')
            </if>
            <if test="organizationDTO.enabled != null">
                AND fp.is_enabled = #{organizationDTO.enabled}
            </if>
        </if>
        <if test="params != null">
            AND (
            fp.name LIKE concat(concat('%', #{params}), '%') OR
            fp.code LIKE concat(concat('%', #{params}), '%')
            )
        </if>
    </select>

    <select id="organizationEnabled" resultType="java.lang.Boolean">
        SELECT is_enabled FROM fd_organization WHERE id = #{sourceId}
    </select>

    <select id="selectByIds" resultMap="OrganizationDTO">
        select * from fd_organization
        where id in
        <foreach item="id" index="index" collection="ids"
                 open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="listMemberIds" resultType="java.lang.Long">
        SELECT DISTINCT member_id
        FROM iam_member_role
        WHERE source_id = #{orgId}
        AND source_type = #{orgName}
    </select>

    <select id="selectAllOrgIdAndName" resultType="io.choerodon.iam.api.dto.OrganizationSimplifyDTO">
        SELECT
            ID,
            NAME
        FROM
            fd_organization
    </select>
</mapper>
