<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.iam.infra.mapper.OrganizationMapper">
    <resultMap id="organizationWithProjects" type="io.choerodon.iam.infra.dataobject.OrganizationDO">
        <id column="id" property="id"></id>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="is_enabled" property="enabled" jdbcType="BOOLEAN"/>
        <collection property="projects" ofType="io.choerodon.iam.infra.dataobject.ProjectDO">
            <id column="project_id" property="id"></id>
            <result column="project_name" property="name" jdbcType="VARCHAR"/>
            <result column="project_code" property="code" jdbcType="VARCHAR"/>
            <result column="organization_id" property="organizationId" jdbcType="DECIMAL"/>
            <result column="project_is_enabled" property="enabled" jdbcType="BOOLEAN"/>
        </collection>
    </resultMap>

    <resultMap id="OrganizationDO" type="io.choerodon.iam.infra.dataobject.OrganizationDO">
        <id column="id" property="id"></id>
        <result column="is_enabled" property="enabled" jdbcType="BOOLEAN"/>
    </resultMap>

    <select id="fulltextSearch" resultMap="OrganizationDO">
        SELECT * FROM fd_organization
        WHERE 1=1
        <if test="organization.name != null">
            AND name LIKE concat('%',#{organization.name},'%')
        </if>
        <if test="organization.code != null">
            AND code LIKE concat('%',#{organization.code},'%')
        </if>
        <if test="organization.enabled != null">
            AND is_enabled = #{organization.enabled}
        </if>
        <if test="param != null">
            AND(
            name LIKE concat('%',#{param},'%') OR
            code LIKE concat('%',#{param},'%')
            )
        </if>
    </select>

    <select id="selectFromMemberRoleByMemberId" resultMap="OrganizationDO">
        SELECT DISTINCT
        fd_organization.*
        FROM
        fd_organization
        JOIN
        iam_member_role
        ON
        fd_organization.id = iam_member_role.source_id
        AND
        iam_member_role.source_type = "organization"
        WHERE
        iam_member_role.member_id = #{memberId}
        <if test="!includedDisabled">
            AND fd_organization.is_enabled = true
        </if>
    </select>

    <select id="selectOrgByUserAndPros" resultMap="OrganizationDO">
        SELECT DISTINCT fd_organization.* from fd_organization
        where id in (
        SELECT DISTINCT fp.organization_id from fd_project fp
        LEFT JOIN iam_member_role imr on imr.source_id=fp.id and imr.source_type="project"
        WHERE imr.member_id=#{memberId})
        <if test="!includedDisabled">
            AND fd_organization.is_enabled = true
        </if>
    </select>

    <select id="selectAllOrganizationsWithEnabledProjects" resultMap="organizationWithProjects">
        SELECT
        fd_organization.id,
        fd_organization.code,
        fd_organization.name,
        fd_organization.is_enabled,
        fd_project.id AS project_id,
        fd_project.name AS project_name,
        fd_project.code AS project_code,
        fd_project.organization_id,
        fd_project.is_enabled AS project_is_enabled
        FROM
        fd_organization
        LEFT JOIN
        fd_project
        ON
        fd_organization.id = fd_project.organization_id
        WHERE
        fd_project.is_enabled = TRUE
    </select>

    <select id="listOrganizationAndRoleById" resultType="io.choerodon.iam.api.dto.OrganizationWithRoleDTO">
        SELECT
        fo.name AS organizationName,
        fo.code AS organizationCode,
        ir.name AS roleName,
        ir.code AS roleCode
        FROM
        iam_member_role imr
        INNER JOIN
        fd_organization fo
        ON
        imr.source_id = fo.id
        INNER JOIN
        iam_role ir
        ON
        imr.role_id = ir.id
        WHERE imr.member_id = #{memberId}
    </select>

    <select id="listProjectAndRoleById" resultType="io.choerodon.iam.api.dto.ProjectWithRoleDTO">
        SELECT
        fo.name AS organizationName,
        fp.name AS projectName,
        fp.code AS projectCode,
        ir.name AS roleName,
        ir.code AS roleCode
        FROM
        iam_member_role imr
        INNER JOIN
        fd_project fp
        ON
        imr.source_id = fp.id
        INNER JOIN
        iam_role ir
        ON
        imr.role_id = ir.id
        INNER join
        fd_organization fo
        ON
        fp.organization_id = fo.id
        WHERE imr.member_id = #{memberId}
    </select>
</mapper>
