<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.iam.infra.mapper.ProjectMapper">

    <resultMap id="projectDO" type="io.choerodon.iam.infra.dataobject.ProjectDO">
        <id column="id" property="id"></id>
        <result column="is_enabled" property="enabled" jdbcType="BOOLEAN"/>
        <result column="is_group" property="group" jdbcType="BOOLEAN"/>
    </resultMap>

    <resultMap id="ProjectWithRoleDTO" type="io.choerodon.iam.infra.dataobject.ProjectDO">
        <id property="id" column="id"></id>
        <result property="name" column="name"/>
        <result property="code" column="code"/>
        <result property="organizationId" column="organization_id"/>
        <result property="organizationName" column="organization_name" jdbcType="VARCHAR"/>
        <result property="enabled" column="is_enabled"/>
        <result property="group" column="is_group"/>
        <collection property="roles" ofType="io.choerodon.iam.infra.dataobject.RoleDO">
            <id property="id" column="role_id"></id>
            <result property="name" column="role_name"/>
            <result property="code" column="role_code"/>
            <result property="enabled" column="role_is_enabled"/>
        </collection>
    </resultMap>

    <select id="listUserIds" resultType="java.lang.Long">
    SELECT
	    iam_user.id
    FROM
	    iam_user
    RIGHT JOIN (
	  SELECT DISTINCT
		  member_id
	  FROM
		  iam_member_role
	  WHERE
		  source_id = #{projectId}
	  AND source_type = 'project'
	  AND member_type = 'user'
    ) t ON iam_user.id = t.member_id
    </select>

    <select id="selectAllWithProjectType" resultMap="projectDO">
        SELECT fp.*, fpt.name AS type_name
        FROM fd_project fp
        LEFT JOIN fd_project_type fpt ON fp.type = fpt.code
    </select>

    <select id="selectUserProjectsUnderOrg" resultMap="projectDO">
        SELECT DISTINCT fp.*
        FROM fd_project fp
        INNER JOIN iam_member_role imr
        ON imr.source_id = fp.id
        WHERE imr.member_id = #{userId} AND imr.source_type = 'project' AND fp.organization_id = #{orgId}
        <if test="isEnabled != null">
            AND is_enabled = #{isEnabled}
        </if>
    </select>

    <select id="fulltextSearch" resultMap="projectDO">
        SELECT fp.*, fpt.name AS type_name
        FROM fd_project fp
        LEFT JOIN fd_project_type fpt ON fp.type = fpt.code
        WHERE fp.organization_id = #{project.organizationId}
        <if test="project.name != null">
            AND fp.name LIKE concat(concat('%',#{project.name}),'%')
        </if>
        <if test="project.code != null">
            AND fp.code LIKE concat(concat('%',#{project.code}),'%')
        </if>
        <if test="project.enabled != null">
            AND fp.is_enabled = #{project.enabled}
        </if>
        <if test="project.group != null">
            AND fp.is_group = #{project.group}
        </if>
        <if test="project.typeName != null">
            AND fpt.name LIKE concat(concat('%',#{project.typeName}),'%')
        </if>
        <if test="param != null">
            AND(
            fp.name LIKE concat(concat('%',#{param}),'%') OR
            fp.code LIKE concat(concat('%',#{param}),'%') OR
            fpt.name LIKE concat(concat('%',#{param}),'%')
            )
        </if>
    </select>

    <select id="selectProjectsByUserIdWithParam" resultMap="projectDO">
        SELECT DISTINCT fd_project.*, fpt.name AS type_name
        FROM fd_project
        LEFT JOIN fd_project_type fpt ON fd_project.type = fpt.code
        JOIN iam_member_role ON iam_member_role.source_id = fd_project.id
        AND iam_member_role.source_type = 'project'
        WHERE iam_member_role.member_id = #{userId}
        <if test="projectDO != null">
            <if test="projectDO.organizationId != null">
                AND fd_project.organization_id = #{projectDO.organizationId}
            </if>
            <if test="projectDO.name != null">
                AND fd_project.name LIKE concat(concat('%',#{projectDO.name}),'%')
            </if>
            <if test="projectDO.code != null">
                AND fd_project.code LIKE concat(concat('%',#{projectDO.code}),'%')
            </if>
            <if test="projectDO.enabled != null">
                AND fd_project.is_enabled = #{projectDO.enabled}
            </if>
        </if>
        <if test="param != null">
            AND (
            fd_project.name LIKE concat(concat('%', #{param}), '%') OR
            fd_project.code LIKE concat(concat('%', #{param}), '%')
            )
        </if>
    </select>

    <select id="selectProjectsByUserId" resultMap="projectDO">
        SELECT DISTINCT fd_project.*, fpt.name AS type_name
        FROM fd_project
        INNER JOIN iam_member_role ON iam_member_role.source_id = fd_project.id
        INNER JOIN iam_role ON iam_role.is_enabled = 1 and iam_role.id = iam_member_role.role_id AND
        iam_member_role.source_type = 'project'
        LEFT JOIN fd_project_type fpt ON fd_project.type = fpt.code
        WHERE iam_member_role.member_id = #{userId}
        <if test="projectDO != null">
            <if test="projectDO.organizationId != null">
                AND fd_project.organization_id = #{projectDO.organizationId}
            </if>
            <if test="projectDO.name != null">
                AND fd_project.name LIKE concat(concat('%',#{projectDO.name}),'%')
            </if>
            <if test="projectDO.enabled != null">
                AND fd_project.is_enabled = #{projectDO.enabled}
            </if>
        </if>
    </select>

    <select id="selectProjectsWithRoles" databaseId="mysql" resultMap="ProjectWithRoleDTO">
        SELECT
        fp.id,
        fp.name,
        fp.code,
        fp.organization_id,
        fo.name AS organization_name,
        fp.is_enabled,
        ir.id AS role_id,
        ir.name AS role_name,
        ir.code AS role_code,
        ir.is_enabled AS role_is_enabled
        FROM fd_project fp
        INNER JOIN
        (
        SELECT DISTINCT source_id FROM iam_member_role
        WHERE member_id = #{id}
        AND member_type = 'user'
        AND source_type = 'project'
        ORDER BY source_id ASC
        LIMIT #{start}, #{size}
        ) t
        ON fp.id = t.source_id
        INNER JOIN iam_member_role imr ON imr.source_id = fp.id
        LEFT JOIN iam_role ir ON imr.role_id = ir.id
        LEFT JOIN fd_organization fo ON fp.organization_id = fo.id
        WHERE imr.source_type = 'project'
        AND imr.member_type = 'user'
        AND imr.member_id = #{id}
        <if test="params != null">
            AND (
            fp.name LIKE concat(concat('%', #{params}), '%') OR
            fp.code LIKE concat(concat('%', #{params}), '%')
            )
        </if>
    </select>

    <!-- 根据databaseId找指定的sql，既不是mysql也不是oracle走这条sql，默认是使用mysql的sql -->
    <select id="selectProjectsWithRoles" resultMap="ProjectWithRoleDTO">
        SELECT
        fp.id,
        fp.name,
        fp.code,
        fp.organization_id,
        fo.name AS organization_name,
        fp.is_enabled,
        ir.id AS role_id,
        ir.name AS role_name,
        ir.code AS role_code,
        ir.is_enabled AS role_is_enabled
        FROM fd_project fp
        INNER JOIN
        (
        SELECT DISTINCT source_id FROM iam_member_role
        WHERE member_id = #{id}
        AND member_type = 'user'
        AND source_type = 'project'
        ORDER BY source_id ASC
        LIMIT #{start}, #{size}
        ) t
        ON fp.id = t.source_id
        INNER JOIN iam_member_role imr ON imr.source_id = fp.id
        LEFT JOIN iam_role ir ON imr.role_id = ir.id
        LEFT JOIN fd_organization fo ON fp.organization_id = fo.id
        WHERE imr.source_type = 'project'
        AND imr.member_type = 'user'
        AND imr.member_id = #{id}
        <if test="params != null">
            AND (
            fp.name LIKE concat(concat('%', #{params}), '%') OR
            fp.code LIKE concat(concat('%', #{params}), '%')
            )
        </if>
    </select>

    <select id="selectProjectsWithRoles" databaseId="oracle" resultMap="ProjectWithRoleDTO">
        SELECT
        fp.id,
        fp.name,
        fp.code,
        fp.organization_id,
        fo.name AS organization_name,
        fp.is_enabled,
        ir.id AS role_id,
        ir.name AS role_name,
        ir.code AS role_code,
        ir.is_enabled AS role_is_enabled
        FROM fd_project fp
        INNER JOIN
        (
        <![CDATA[
            SELECT *
            FROM
            (
                SELECT TMP_PAGE.*, ROWNUM ROW_ID
                FROM
                (
                    SELECT DISTINCT source_id
                    FROM iam_member_role
                    WHERE member_id = #{id}
                    AND member_type = 'user'
                    AND source_type = 'project'
                    ORDER BY source_id ASC
                ) TMP_PAGE
                WHERE ROWNUM <= ((#{start} + 1) * #{size})
            )
            WHERE ROW_ID > (#{start} * #{size})
        ]]>
        ) t
        ON fp.id = t.source_id
        INNER JOIN iam_member_role imr ON imr.source_id = fp.id
        LEFT JOIN iam_role ir ON imr.role_id = ir.id
        LEFT JOIN fd_organization fo ON fp.organization_id = fo.id
        WHERE imr.source_type = 'project'
        AND imr.member_type = 'user'
        AND imr.member_id = #{id}
        <if test="params != null">
            AND (
            fp.name LIKE concat(concat('%', #{params}), '%') OR
            fp.code LIKE concat(concat('%', #{params}), '%')
            )
        </if>
    </select>

    <select id="projectEnabled" resultType="java.lang.Boolean">
        SELECT is_enabled FROM fd_project WHERE id = #{sourceId}
    </select>

    <select id="selectByIds" resultMap="projectDO">
        select * from fd_project
        where id in
        <foreach item="id" index="index" collection="ids"
                 open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="selectProjectNameByType" resultType="java.lang.String">
        SELECT
            NAME
        FROM
            fd_project
        WHERE
            TYPE = #{type}
        AND organization_id = #{orgId}
    </select>

    <select id="selectProjectNameNoType" resultType="java.lang.String">
        SELECT
            NAME
        FROM
            fd_project
        WHERE
            TYPE IS NULL
        AND organization_id = #{orgId};
    </select>

    <select id="selectProjsNotGroup" resultType="io.choerodon.iam.api.dto.ProjectDTO">
        SELECT
            id,
            name,
            code
        FROM
            fd_project
        WHERE
            CATEGORY = 0
        AND ORGANIZATION_ID = #{orgId};
    </select>

    <select id="selectProjsNotInAnyGroup" resultType="io.choerodon.iam.api.dto.ProjectDTO">
        SELECT
            ID,
            NAME,
            CODE
        FROM
            fd_project
        WHERE
            CATEGORY = 0
        AND ORGANIZATION_ID = #{orgId}
        AND ID NOT IN (
            SELECT DISTINCT
                PROJECT_ID
            FROM
                fd_project_group
        )
    </select>
</mapper>
