<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.iam.infra.mapper.ProjectRelationshipMapper">

    <select id="selectProjectsByParentId" resultType="io.choerodon.iam.infra.dto.ProjectRelationshipDTO">
        SELECT
        fpr.*,
        fpr.IS_ENABLED AS enabled,
        fp.CODE AS projCode,
        fp.NAME AS projName
        FROM
        fd_project_relationship fpr
        LEFT JOIN fd_project fp ON fpr.PROJECT_ID = fp.ID
        WHERE
        fpr.PARENT_ID = #{parentId}
        <if test="onlySelectEnable">
            and fpr.is_enabled = 1
        </if>
    </select>

    <select id="selectProgramsByProjectId" resultType="io.choerodon.iam.infra.dto.ProjectDTO">
        SELECT FP.CODE,FP.NAME
        FROM FD_PROJECT_RELATIONSHIP FPR
        LEFT JOIN FD_PROJECT FP ON FPR.PROGRAM_ID = FP.ID
        WHERE FPR.PROJECT_ID = #{projectId} AND FPR.PROGRAM_ID IS NOT NULL
        <if test="onlySelectEnable">
            and FPR.IS_ENABLED = 1
        </if>
    </select>
</mapper>
