<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.iam.infra.mapper.ProjectRelationshipMapper">

    <select id="selectProjectsByParentId" resultType="io.choerodon.iam.api.dto.ProjectRelationshipDTO">
        SELECT
        fpr.*,
        fpr.is_enabled as enabled,
        fp.code as projcode,
        fp.name as projname
        FROM
        fd_project_relationship fpr
        left join fd_project fp on fpr.project_id = fp.id
        WHERE
        fpr.parent_id = #{parentId}
        <if test="onlySelectEnable">
            and fpr.is_enabled = 1
        </if>
    </select>

    <select id="selectProjectCountInProgramByProjectId" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM FD_PROJECT_RELATIONSHIP
        WHERE PROJECT_ID = #{projectId} AND PROGRAM_ID IS  NOT NULL
    </select>
</mapper>
