<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.iam.infra.mapper.ProjectMapper">

    <resultMap id="projectDO" type="io.choerodon.iam.infra.dataobject.ProjectDO">
        <id column="id" property="id"></id>
        <result column="is_enabled" property="enabled" jdbcType="BOOLEAN"/>
    </resultMap>

    <select id="fulltextSearch" resultMap="projectDO">
        SELECT *
        FROM fd_project
        WHERE organization_id = #{project.organizationId}
        <if test="project.name != null">
            AND name LIKE concat('%',#{project.name},'%')
        </if>
        <if test="project.code != null">
            AND code LIKE concat('%',#{project.code},'%')
        </if>
        <if test="project.enabled != null">
            AND is_enabled = #{project.enabled}
        </if>
        <if test="params != null and params.length > 0">
            AND
            <foreach item="item" index="index" collection="params"
                     open="(" separator="or" close=")">
                name LIKE concat('%',#{item},'%') OR
                code LIKE concat('%',#{item},'%')
            </foreach>
        </if>
    </select>

    <select id="selectProjectsFromMemberRoleByOption" resultMap="projectDO">
        SELECT DISTINCT fd_project.*
        FROM fd_project
        JOIN iam_member_role
        ON iam_member_role.source_id = fd_project.id
        AND iam_member_role.source_type = "project"
        WHERE iam_member_role.member_id = #{userId}
        <if test="projectDO != null">
            <if test="projectDO.organizationId != null">
                AND fd_project.organization_id = #{projectDO.organizationId}
            </if>
            <if test="projectDO.name != null">
                AND fd_project.name LIKE concat('%',#{projectDO.name},'%')
            </if>
            <if test="projectDO.enabled != null">
                AND fd_project.is_enabled = #{projectDO.enabled}
            </if>
        </if>
    </select>
</mapper>
