<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.iam.infra.mapper.UserMapper">
    <resultMap id="userWithRoles" type="io.choerodon.iam.infra.dataobject.UserDO">
        <id property="id" column="id"/>
        <result property="loginName" column="login_name"/>
        <result property="email" column="email"/>
        <result property="realName" column="real_name"/>
        <result property="enabled" column="is_enabled"/>
        <result property="admin" column="is_admin"/>
        <collection property="roles" ofType="io.choerodon.iam.infra.dataobject.RoleDO">
            <id property="id" column="role_id"/>
            <result property="name" column="name"/>
            <result property="code" column="code"/>
            <result property="enabled" column="role_is_enabled"/>
            <result property="builtIn" column="role_is_built_in"/>
        </collection>
    </resultMap>

    <resultMap id="userDO" type="io.choerodon.iam.infra.dataobject.UserDO">
        <id property="id" column="id"/>
        <result property="enabled" column="is_enabled"/>
        <result property="locked" column="is_locked"/>
        <result property="ldap" column="is_ldap"/>
        <result property="admin" column="is_admin"/>
    </resultMap>

    <select id="listUsersByIds" resultMap="userDO">
        SELECT * FROM iam_user
        WHERE id IN
        <foreach item="id" index="index" collection="ids"
                 open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="fulltextSearch" resultMap="userDO">
        SELECT * FROM iam_user WHERE 1=1
        <if test="userDO.loginName!= null">
            AND login_name LIKE concat(concat('%',#{userDO.loginName}),'%')
        </if>
        <if test="userDO.organizationId != null">
            AND organization_id = #{userDO.organizationId}
        </if>
        <if test="userDO.ldap != null">
            AND is_ldap = #{userDO.ldap}
        </if>
        <if test="userDO.realName != null">
            AND real_name = #{userDO.realName}
        </if>
        <if test="userDO.enabled != null">
            AND is_enabled = #{userDO.enabled}
        </if>
        <if test="userDO.locked != null">
            AND is_locked = #{userDO.locked}
        </if>
        <if test="userDO.admin != null">
            AND is_admin = #{userDO.admin}
        </if>
        <if test="userDO.email != null">
            AND email LIKE concat(concat('%',#{userDO.email}),'%')
        </if>
        <if test="userDO.language != null">
            AND `language` LIKE concat(concat('%',#{userDO.language}),'%')
        </if>
        <if test="param != null">
            AND(
            login_name LIKE concat(concat('%',#{param}),'%') OR
            email LIKE concat(concat('%',#{param}),'%') OR
            real_name LIKE concat(concat('%',#{param}),'%')
            )
        </if>
    </select>

    <!-- 根据databaseId找指定的sql，既不是mysql也不是oracle走这条sql，默认是使用mysql的sql -->
    <select id="selectUserWithRolesByOption" resultMap="userWithRoles">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        SELECT
        iu.id,
        iu.login_name,
        iu.email,
        iu.real_name,
        iu.is_enabled,
        role.id AS role_id,
        irt.name AS name,
        role.code,
        role.is_enabled as role_is_enabled,
        role.is_built_in as role_is_built_in,
        imr.id,
        imr.LAST_UPDATE_DATE as duplicated
        FROM
        (
        SELECT temp_user.*
        FROM (
        SELECT imr.MEMBER_ID as ID, MAX(imr.last_update_date) AS newest_date
        FROM iam_user
        LEFT JOIN iam_member_role imr ON imr.member_id = iam_user.id
        LEFT JOIN iam_role ir ON ir.id = imr.role_id
        WHERE imr.member_type = 'user'
        AND imr.source_id = #{sourceId}
        AND imr.source_type = #{sourceType}
        <if test="roleAssignmentSearchDTO != null">
            <if test="roleAssignmentSearchDTO.loginName != null">
                AND iam_user.login_name LIKE concat(concat('%',#{roleAssignmentSearchDTO.loginName}),'%')
            </if>
            <if test="roleAssignmentSearchDTO.realName != null">
                AND iam_user.real_name LIKE concat(concat('%',#{roleAssignmentSearchDTO.realName}),'%')
            </if>
            <if test="roleAssignmentSearchDTO.roleName != null">
                AND ir.name LIKE concat(concat('%',#{roleAssignmentSearchDTO.roleName}),'%')
            </if>
            <if test="param != null">
                AND(
                iam_user.login_name LIKE concat(concat('%',#{param}),'%') OR
                iam_user.real_name LIKE concat(concat('%',#{param}),'%') OR
                ir.name LIKE concat(concat('%',#{param}),'%') OR
                imr.member_type LIKE concat(concat('%',#{param}),'%')
                )
            </if>
        </if>
        GROUP BY imr.MEMBER_ID
        ) temp
        LEFT JOIN iam_user temp_user ON temp.ID = temp_user.ID
        ORDER BY temp.newest_date DESC
        <if test="start != null and size != null">
            limit #{start}, #{size}
        </if>
        ) iu
        LEFT JOIN iam_member_role imr ON iu.id = imr.member_id
        LEFT JOIN iam_role role ON imr.role_id = role.id
        LEFT JOIN iam_role_tl irt ON role.id = irt.id
        AND irt.lang = #{lang}
        WHERE imr.member_type = 'user'
        AND imr.source_id = #{sourceId}
        AND imr.source_type = #{sourceType}
        ORDER BY imr.LAST_UPDATE_DATE DESC
    </select>

    <select id="selectUserWithRolesByOption" databaseId="mysql" resultMap="userWithRoles">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        SELECT
        iu.id,
        iu.login_name,
        iu.email,
        iu.real_name,
        iu.is_enabled,
        role.id AS role_id,
        irt.name AS name,
        role.code,
        role.is_enabled as role_is_enabled,
        role.is_built_in as role_is_built_in,
        imr.id,
        imr.LAST_UPDATE_DATE as duplicated
        FROM
        (
        SELECT temp_user.*
        FROM (
        SELECT imr.MEMBER_ID as ID, MAX(imr.last_update_date) AS newest_date
        FROM iam_user
        LEFT JOIN iam_member_role imr ON imr.member_id = iam_user.id
        LEFT JOIN iam_role ir ON ir.id = imr.role_id
        WHERE imr.member_type = 'user'
        AND imr.source_id = #{sourceId}
        AND imr.source_type = #{sourceType}
        <if test="roleAssignmentSearchDTO != null">
            <if test="roleAssignmentSearchDTO.loginName != null">
                AND iam_user.login_name LIKE concat(concat('%',#{roleAssignmentSearchDTO.loginName}),'%')
            </if>
            <if test="roleAssignmentSearchDTO.realName != null">
                AND iam_user.real_name LIKE concat(concat('%',#{roleAssignmentSearchDTO.realName}),'%')
            </if>
            <if test="roleAssignmentSearchDTO.roleName != null">
                AND ir.name LIKE concat(concat('%',#{roleAssignmentSearchDTO.roleName}),'%')
            </if>
            <if test="param != null">
                AND(
                iam_user.login_name LIKE concat(concat('%',#{param}),'%') OR
                iam_user.real_name LIKE concat(concat('%',#{param}),'%') OR
                ir.name LIKE concat(concat('%',#{param}),'%') OR
                imr.member_type LIKE concat(concat('%',#{param}),'%')
                )
            </if>
        </if>
        GROUP BY imr.MEMBER_ID
        ) temp
        LEFT JOIN iam_user temp_user ON temp.ID = temp_user.ID
        ORDER BY temp.newest_date DESC
        <if test="start != null and size != null">
            limit #{start}, #{size}
        </if>
        ) iu
        LEFT JOIN iam_member_role imr ON iu.id = imr.member_id
        LEFT JOIN iam_role role ON imr.role_id = role.id
        LEFT JOIN iam_role_tl irt ON role.id = irt.id
        AND irt.lang = #{lang}
        WHERE imr.member_type = 'user'
        AND imr.source_id = #{sourceId}
        AND imr.source_type = #{sourceType}
        ORDER BY imr.LAST_UPDATE_DATE DESC
    </select>

    <select id="selectUserWithRolesByOption" databaseId="oracle" resultMap="userWithRoles">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        SELECT
        iu.id,
        iu.login_name,
        iu.email,
        iu.real_name,
        iu.is_enabled,
        role.id AS role_id,
        irt.name AS name,
        role.code,
        role.is_enabled as role_is_enabled,
        role.is_built_in as role_is_built_in,
        imr.id
        FROM
        (
        <if test="start != null and size != null">
            SELECT *
            FROM
            (
            SELECT TMP_PAGE.*, ROWNUM ROW_ID
            FROM
            (
        </if>
        SELECT * FROM iam_user iam_u
        JOIN (
        SELECT imr.member_id, MAX(imr.LAST_UPDATE_DATE) as newest_date
        FROM iam_user
        LEFT JOIN iam_member_role imr ON imr.member_id = iam_user.id
        LEFT JOIN iam_role ir ON ir.id = imr.role_id
        WHERE imr.member_type = 'user'
        AND imr.source_id = #{sourceId}
        AND imr.source_type = #{sourceType}
        <if test="roleAssignmentSearchDTO != null">
            <if test="roleAssignmentSearchDTO.loginName != null">
                AND iam_user.login_name LIKE concat(concat('%',#{roleAssignmentSearchDTO.loginName}),'%')
            </if>
            <if test="roleAssignmentSearchDTO.realName != null">
                AND iam_user.real_name LIKE concat(concat('%',#{roleAssignmentSearchDTO.realName}),'%')
            </if>
            <if test="roleAssignmentSearchDTO.roleName != null">
                AND ir.name LIKE concat(concat('%',#{roleAssignmentSearchDTO.roleName}),'%')
            </if>
            <if test="param != null">
                AND(
                iam_user.login_name LIKE concat(concat('%',#{param}),'%') OR
                iam_user.real_name LIKE concat(concat('%',#{param}),'%') OR
                ir.name LIKE concat(concat('%',#{param}),'%') OR
                imr.member_type LIKE concat(concat('%',#{param}),'%')
                )
            </if>
        </if>
        GROUP BY imr.MEMBER_ID
        ) t
        ON iam_u.id = t.member_id
        <if test="start == null or size == null">
            ORDER BY t.newest_date DESC
        </if>
        <if test="start != null and size != null">
            ) TMP_PAGE
            <![CDATA[
                    WHERE ROWNUM <= ((#{start} + 1) * #{size})
                    )
                  WHERE ROW_ID > (#{start} * #{size})
                ]]>
            ORDER BY TMP_PAGE.newest_date DESC
        </if>
        ) iu
        LEFT JOIN iam_member_role imr ON iu.id = imr.member_id
        LEFT JOIN iam_role role ON imr.role_id = role.id
        LEFT JOIN iam_role_tl irt ON role.id = irt.id
        AND irt.lang = #{lang}
        WHERE imr.member_type = 'user'
        AND imr.source_id = #{sourceId}
        AND imr.source_type = #{sourceType}
        ORDER BY imr.LAST_UPDATE_DATE DESC
    </select>

    <select id="selectCountUsers" resultType="int">
        SELECT count(1)
        FROM (
        SELECT DISTINCT iu.id FROM iam_user iu
        LEFT JOIN iam_member_role imr on imr.member_id = iu.id
        LEFT JOIN iam_role ir on ir.id = imr.role_id
        WHERE imr.member_type = 'user'
        AND imr.source_id = #{sourceId}
        AND imr.source_type = #{sourceType}
        <if test="roleAssignmentSearchDTO != null">
            <if test="roleAssignmentSearchDTO.loginName != null">
                AND iu.login_name LIKE concat(concat('%',#{roleAssignmentSearchDTO.loginName}),'%')
            </if>
            <if test="roleAssignmentSearchDTO.realName != null">
                AND iu.real_name LIKE concat(concat('%',#{roleAssignmentSearchDTO.realName}),'%')
            </if>
            <if test="roleAssignmentSearchDTO.roleName != null">
                AND ir.name LIKE concat(concat('%',#{roleAssignmentSearchDTO.roleName}),'%')
            </if>
            <if test="param != null">
                AND(
                iu.login_name LIKE concat(concat('%',#{param}),'%') OR
                iu.real_name LIKE concat(concat('%',#{param}),'%') OR
                ir.name LIKE concat(concat('%',#{param}),'%') OR
                imr.member_type LIKE concat(concat('%',#{param}),'%')
                )
            </if>
        </if>
        ) t
    </select>

    <select id="selectUserCountFromMemberRoleByOptions" resultType="int">
        SELECT COUNT(1) FROM (
        SELECT DISTINCT iu.id FROM iam_member_role imr
        INNER JOIN iam_user iu ON imr.member_id = iu.id
        WHERE imr.role_id = #{roleId}
        AND imr.member_type = #{memberType}
        <if test="sourceId != null">
            AND imr.source_id = #{sourceId}
        </if>
        <if test="sourceType != null">
            AND imr.source_type = #{sourceType}
        </if>
        <if test="roleAssignmentSearchDTO != null">
            <if test="roleAssignmentSearchDTO.loginName != null">
                AND iu.login_name LIKE concat(concat('%',#{roleAssignmentSearchDTO.loginName}),'%')
            </if>
            <if test="roleAssignmentSearchDTO.realName != null">
                AND iu.real_name LIKE concat(concat('%',#{roleAssignmentSearchDTO.realName}),'%')
            </if>
        </if>
        <if test="param != null">
            AND (
            iu.login_name LIKE concat(concat('%',#{param}),'%') OR
            iu.real_name LIKE concat(concat('%',#{param}),'%')
            )
        </if>
        ) t
    </select>

    <select id="selectUsersFromMemberRoleByOptions" resultMap="userDO">
        SELECT iu.*,imr.source_id
        FROM iam_user iu
        INNER JOIN iam_member_role imr
        ON imr.member_id = iu.id
        WHERE imr.role_id = #{roleId}
        AND imr.member_type = #{memberType}
        <if test="sourceId != null">
            AND imr.source_id = #{sourceId}
        </if>
        <if test="sourceType != null">
            AND imr.source_type = #{sourceType}
        </if>
        <if test="roleAssignmentSearchDTO != null">
            <if test="roleAssignmentSearchDTO.loginName != null">
                AND iu.login_name LIKE concat(concat('%',#{roleAssignmentSearchDTO.loginName}),'%')
            </if>
            <if test="roleAssignmentSearchDTO.realName != null">
                AND iu.real_name LIKE concat(concat('%',#{roleAssignmentSearchDTO.realName}),'%')
            </if>
        </if>
        <if test="param != null">
            AND (
            iu.login_name LIKE concat(concat('%',#{param}),'%') OR
            iu.real_name LIKE concat(concat('%',#{param}),'%')
            )
        </if>
    </select>

    <select id="selectUsersByProjectIdAndOptions" resultMap="userDO">
        SELECT iam_user.*
        FROM iam_user
        JOIN
        (
        SELECT
        DISTINCT member_id
        FROM
        iam_member_role
        WHERE
        source_id = #{projectId}
        AND source_type = 'project'
        AND member_type = 'user'
        ) t
        ON iam_user.id = t.member_id
        WHERE 1=1
        <if test="userId != null">
            AND iam_user.id = #{userId}
        </if>
        <if test="email != null">
            AND iam_user.email LIKE concat(concat('%',#{email}),'%')
        </if>
        <if test="param != null">
            AND (
            iam_user.login_name LIKE concat(concat('%',#{param}),'%') OR
            iam_user.real_name LIKE concat(concat('%',#{param}),'%')
            )
        </if>
    </select>


    <select id="selectAdminUserPage" resultMap="userDO">
        SELECT * FROM iam_user WHERE is_admin = 1
        <if test="userDO.loginName!= null">
            AND login_name LIKE concat(concat('%',#{userDO.loginName}),'%')
        </if>
        <if test="userDO.realName != null">
            AND real_name LIKE concat(concat('%',#{userDO.realName}),'%')
        </if>
        <if test="userDO.enabled != null">
            AND is_enabled = #{userDO.enabled}
        </if>
        <if test="userDO.locked != null">
            AND is_locked = #{userDO.locked}
        </if>
        <if test="params != null">
            AND (
            login_name LIKE concat(concat('%',#{params}),'%') OR
            real_name LIKE concat(concat('%',#{params}),'%')
            )
        </if>
    </select>

    <select id="matchLoginName" resultType="java.lang.String">
        SELECT login_name
        FROM iam_user
        WHERE login_name
        IN
        <foreach item="item" index="index" collection="nameSet"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="matchEmail" resultType="java.lang.String">
        SELECT email
        FROM iam_user
        WHERE email
        IN
        <foreach item="item" index="index" collection="emailSet"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="listUserIds" resultType="java.lang.Long">
        SELECT id from iam_user where is_enabled = 1
    </select>

    <resultMap id="simplifiedUserDTO" type="io.choerodon.iam.api.dto.SimplifiedUserDTO">
        <id property="id" column="id"/>
        <result property="loginName" column="login_name"/>
        <result property="realName" column="real_name"/>
    </resultMap>

    <select id="selectAllUsersSimplifiedInfo" resultMap="simplifiedUserDTO">
        SELECT
        id,
        login_name,
        real_name
        FROM
        iam_user
        WHERE
        is_enabled = 1
        <if test="params != null">
            AND (
            login_name LIKE concat(concat('%',#{params}),'%') OR
            real_name LIKE concat(concat('%',#{params}),'%')
            )
        </if>
    </select>
</mapper>
