.c7n-role {
  &-permission-table {
    table {
      table-layout: fixed;
    }
  }
}

.choerodon-role {
  .choerodon-loading {
    display: inherit;
    margin: 200px auto;
    text-align: center;
  }

  .choerodon-pagination {
    margin-top: 15px;
    float: right;
  }

  .hidden {
    display: none;
  }

  .show {
    display: block;
  }

  &-code {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 60%;
    width: 60%;
    overflow: hidden;
  }
  &-description {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 40%;
    width: 40%;
    overflow: hidden;
  }
}

.tableName:hover {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.alreadyDes {
  font-size: 18px;
  color: #000;
  line-height: 24px;
}

.choerodon-roleCreate {
  .choerodon-pagination {
    margin-top: 10px;
    float: right;
  }

  .choerodon-link-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .choerodon-error {
    position: relative;
    left: 5rem;
    color: red;
    font-size: 12px;
  }

  .choerodon-btn-create {
    float: left;
    margin-right: 10px;
  }

  .flex-vCenter {
    display: flex;
    align-items: center;
  }

  .flex-right {
    display: flex;
    justify-content: flex-end;
  }

  .mt-sm {
    margin-top: 1rem;
  }

  .mt-xs {
    margin-top: 0.5rem;
  }

  .pull-right {
    float: right;
  }

  .hidden {
    display: none;
  }

  .show {
    display: block;
  }
}

.addPermission {
  color: #3f51b5;
}

.c7n-roleMsg {
  .c7n-checkbox-indeterminate {
    .c7n-checkbox-inner::after {
      transform: rotate(0) scale(1) !important;
    }
  }
}
