.c7n-iam-userinfo-phone-wrapper-text {
  display: inline-block;
  position: relative;
  margin-left: 30px;
  padding: 0 20px 2px 0;
  cursor: text;
  border-bottom: 1px solid transparent;
  font-size: 15px;
}

.c7n-iam-userinfo-phone-wrapper-text-active:hover {
  border-bottom: 1px solid gray;
}

.c7n-iam-userinfo-phone-wrapper-text .c7n-iam-userinfo-phone-wrapper-text-icon {
  color: rgba(0, 0, 0, .65);
  display: none;
  cursor: pointer;
}

.c7n-iam-userinfo-phone-wrapper-text-active:hover .c7n-iam-userinfo-phone-wrapper-text-icon {
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  z-index: 10;
  transform: translateY(-50%);
}

.c7n-iam-userinfo-phone-wrapper-edit {
  display: inline-block;
  position: relative;
  margin-left: 30px;
  font-size: 15px;

  .c7n-form-item {
    padding: 0;
    margin: 0;
  }

  &-icon-container {
    position: absolute;
    right: 0;
  }

  &-icon {
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: rgba(0, 0, 0, .65);
    background: rgba(0, 0, 0, 0.08);
    font-size: 13px;
    text-align: center;
    cursor: pointer;
  }
}
