<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.iam.infra.mapper.MenuMapper">

    <resultMap id="Menu" type="io.choerodon.iam.infra.dto.MenuDTO">
        <id column="id" property="id"></id>
        <result column="is_default" property="isDefault" jdbcType="BOOLEAN"/>
        <collection property="permissions" ofType="io.choerodon.iam.infra.dto.PermissionDTO">
            <id column="permission_id" property="id"></id>
            <result column="permission_code" property="code" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <select id="selectMenusAfterCheckPermission" resultMap="Menu">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        select
          imb.id,
          imb.code
          case
            when
            imt.name is null
            then imb.name
            else imt.name
          end as name,
          imb.resource_level,
          imb.parent_id,
          imb.type,
          imb.sort,
          imb.is_default,
          imb.icon,
          imb.category,
          imb.page_permission_code
        from iam_menu_b imb
        inner join iam_menu_permission imp
        on imb.id = imp.menu_id
        inner join (
            select distinct t2.code from(
                select * from iam_permission ip
                inner join iam_role_permission irp
                on ip.id = irp.permission_id
                inner join (
                select distinct imr.role_id
                from iam_member_role imr
                inner join iam_role ir
                on imr.role_id = ir.id
                and ir.is_enabled = 1
                where imr.member_id = #{memberId}
                <if test="sourceType != null">
                    and imr.source_type = #{sourceType}
                    and imr.source_id = #{sourceId}
                </if>
                <if test="memberType != null">
                    and imr.member_type = #{memberType}
                </if>
                ) t1
                on t1.role_id = irp.role_id
                union
                select * from iam_permission
                where iam_permission.is_login_access = 1
                or iam_permission.is_public_access = 1
--                 group by
            ) t2
        ) t3
        on imp.permission_code = t3.code
        left join iam_menu_tl imt
        on imb.id = imt.id
        and imt.lang = #{lang}
        where 1=1
        <if test="sourceType != null">
            imb.resource_level = #{sourceType}
        </if>
        <choose>
            <when test="category == 'PROGRAM'">
                AND imb.category LIKE 'PROGRAM'
            </when>
            <otherwise>
                AND ( imb.category NOT LIKE 'PROGRAM' OR imb.category IS NULL )
            </otherwise>
        </choose>
    </select>

    <select id="selectMenusAfterCheckPermission" resultMap="Menu">
        <bind name="lang" value="@io.choerodon.mybatis.helper.LanguageHelper@language()"/>
        select
            imb.id,
            imb.code
            case
              when
                imt.name is null
              then imb.name
              else imt.name
            end as name,
            imb.resource_level,
            imb.parent_id,
            imb.type,
            imb.sort,
            imb.is_default,
            imb.icon,
            imb.category,
            imb.page_permission_code,
            ip.id permission_id,
            ip.code permission_code
        from iam_menu_b imb
        left join iam_menu_permission imp
        left join iam_permission ip
        left join iam_menu_tl imt
        on imb.id = imt.id
        and imt.lang = #{lang}
        on imp.permission_code = ip.code
        on imb.id = imp.menu_id
        where imb.type != 'top'
        and imb.resource_level = #{level}
    </select>

</mapper>
