<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.choerodon.iam.infra.mapper.RoleMapper">

    <resultMap id="Role" type="io.choerodon.iam.infra.dto.RoleDTO">
        <id column="id" property="id"></id>
        <result column="is_enabled" property="enabled" jdbcType="BOOLEAN"/>
        <result column="is_modified" property="modified" jdbcType="BOOLEAN"/>
        <result column="is_enable_forbidden" property="enableForbidden" jdbcType="BOOLEAN"/>
        <result column="is_built_in" property="builtIn" jdbcType="BOOLEAN"/>
    </resultMap>

    <select id="fuzzyQuery" resultMap="Role">
        select * from iam_role
        where 1=1
        <if test="roleQuery.name != null">
            AND iam_role.name LIKE concat(concat('%',#{roleQuery.name}), '%')
        </if>
        <if test="roleQuery.code != null">
            AND iam_role.code LIKE concat(concat('%',#{roleQuery.code}), '%')
        </if>
        <if test="roleQuery.level != null">
            AND iam_role.resource_level LIKE concat(concat('%',#{roleQuery.level}), '%')
        </if>
        <if test="roleQuery.builtIn != null">
            AND iam_role.is_built_in = #{roleQuery.builtIn}
        </if>
        <if test="roleQuery.enabled != null">
            AND iam_role.is_enabled = #{roleQuery.enabled}
        </if>
        <if test="roleQuery.param != null">
            AND (
            iam_role.name LIKE concat(concat('%',#{roleQuery.param}), '%') OR
            iam_role.code LIKE concat(concat('%',#{roleQuery.param}), '%') OR
            iam_role.fd_level LIKE concat(concat('%',#{roleQuery.param}), '%')
            )
        </if>
    </select>
</mapper>
